extends layout

block content
    .container.d-block.d-md-none
        //- This only shows if the users window is too small, we have a requirement of a minimum of >= 768px -//
        div(class="alert alert-danger alert-dismissable fade show" role='alert')
            | This admin panel is only functional at a resolution equal to or greater then 768px. Please resize your browser or reconnect using a tablet or personal computer with the appropriate resolution.
    .container.d-none.d-md-block
        div.card
            div.card-header
                ul(class = 'nav nav-tabs card-header-tabs' id='admin-list' role='tablist')
                    li(class='nav-item')
                        a(class='nav-link px-2' data-toggle="tab" href='#system' role="tab" aria-controls="system" aria-selected="true" ) System
                    li(class='nav-item')
                        a(class='nav-link px-2 active' data-toggle="tab" href='#judging' role="tab" aria-controls="judging" aria-selected="false") Judging
                    li(class='nav-item')
                        a(class='nav-link px-2' data-toggle="tab" href='#judges' role="tab" aria-controls="judges" aria-selected="false" ) Judges
            div.card-body
                div.tab-content
                    div(class='tab-pane' id='system' role='tabpanel' aria-labelledby='system-tab') Coming Soon!

                    div(class='tab-pane active' id='judging' role='tabpane2' aria-labelledby='judging-tab')
                        div.container-fluid
                            table.comp_entry_list.table.table-sm.table-striped.table-bordered.table-hover
                                thead.thead-dark
                                    tr
                                        th(scope='col') Entry #
                                        th(scope='col') Cat
                                        th(scope='col') Sub-Cat
                                tbody
                                    if (sheets)
                                        each sheet in sheets
                                            if (sheet.entry_number)
                                                tr
                                                    th(scope='row') #{sheet.entry_number}
                                                    td #{sheet.category}
                                                    td #{sheet.subscategory}

                    div(class='tab-pane' id='judges' role='tabpane3' aria-labelledby='judges-tab')
                        .container-fluid
                            table.comp_judges_list.table.table-sm.table-striped.table-bordered.table-hover
                                thead.thead-dark
                                    tr
                                        th(scope='col') Username
                                        th(scope='col') First Name
                                        th(scope='col') Last Name
                                tbody
                                    if (judges)
                                        each judge in judges
                                            tr
                                                td #{judge.username}
                                                td #{judge.forename}
                                                td #{judge.surname}

    script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js')
    script(src='/javascripts/admin.js')

    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css')