extends layout

block content
  .container.d-block.d-md-none
    //- This only shows if the users window is too small, we have a requirement of a minimum of >= 768px -//
    .alert.alert-danger.alert-dismissable.fade.show(role="alert")
      | This admin panel is only functional at a resolution equal to or greater then 768px. Please resize your browser or reconnect using a tablet or personal computer with the appropriate resolution.
  .container.d-none.d-md-block
    .card
      .card-header
        ul#admin-list.nav.nav-tabs.card-header-tabs(role="tablist")
          li.nav-item
            a.nav-link.px-2.active(
              data-toggle="tab",
              href="#system",
              role="tab",
              aria-controls="system",
              aria-selected="true"
            ) System
          li.nav-item
            a.nav-link.px-2(
              data-toggle="tab",
              href="#logos",
              role="tab",
              aria-controls="logos",
              aria-selected="false"
            ) Logos
          li.nav-item
            a.nav-link.px-2(
              data-toggle="tab",
              href="#output",
              role="tab",
              aria-controls="output",
              aria-selected="false"
            ) Output
          li.nav-item
            a.nav-link.px-2(
              data-toggle="tab",
              href="#entries",
              role="tab",
              aria-controls="entries",
              aria-selected="false"
            ) Entries
          li.nav-item
            a.nav-link.px-2(
              data-toggle="tab",
              href="#scoresheets",
              role="tab",
              aria-controls="scoresheets",
              aria-selected="false"
            ) Scoresheets
          li.nav-item
            a.nav-link.px-2(
              data-toggle="tab",
              href="#judges",
              role="tab",
              aria-controls="judges",
              aria-selected="false"
            ) Judges
          li.nav-item
            a.nav-link.px-2(
              data-toggle="tab",
              href="#flights",
              role="tab",
              aria-controls="flights",
              aria-selected="false"
            ) Flights
      .card-body
        .tab-content
          #system.tab-pane.active(
            role="tabpanel",
            aria-labelledby="system-tab"
          )
            .container-fluid
              h3 Competition Information
              .form-row.py-1
                .form-group.col-sm-2.col-form-label 
                  label(for="compName") Competition Name
                .form-group.col-sm-4
                  input#compName.form-control(type="text", disabled)
              .form-row.py-1
                .form-group.col-sm-2.col-form-label 
                  label(for="compClub") Hosting Club
                .form-group.col-sm-4
                  input#compClub.form-control(type="text", disabled)
              .form-row.py-1
                .form-group.col-sm-2.col-form-label 
                  label(for="styleguide") Style Guidelines
                .form-group.col-sm-4
                  select#styleguide.form-control(disabled)
                    option(value="BJCP2015") BJCP 2015
                    option(value="BJCP2021", selected) BJCP 2021
              .form-row.py-1
                .form-group.col-sm-2.col-form-label 
                  label(for="instructions") Special Instructions
                  small (Shown on scoresheet form)
                .form-group.col-sm-8
                  textarea#instructions.form-control(
                    rows="6",
                    type="text",
                    disabled
                  )
              .form-row.py-1
                .form-group.col-sm-2.col-form-label 
                  label(for="info") Competition Information
                  small (Shown on main page)
                .form-group.col-sm-8
                  textarea#info.form-control(rows="6", type="text", disabled)
              .form-row.py-1 
                .form-group.col-sm-4 
                  button#editCompInfoButton.btn.mr-3.btn-primary Edit Info
                  button#editCompInfoSaveButton.btn.mr-3.btn-success(
                    style="display:none;"
                  ) Save
                  button#editCompInfoCancelButton.btn.btn-danger(
                    style="display:none;"
                  ) Cancel

          #logos.tab-pane(role="tabpane2", aria-labelledby="logos-tab")
            .container-fluid
              h3 Logos
              .form-row.py-1
                .form-group.col-sm-2.col-form-label
                  label(for="compLogo") Competition Logo
                .form-group.col-sm-4
                  form(
                    method="post",
                    enctype="multipart/form-data",
                    action="/images/compLogo/default-competition"
                  )
                    .input-group
                      input#compLogo.form-control(
                        type="file",
                        name="comp-logo",
                        accept=".jpg, .png, .svg, .webp, .gif, .apng"
                      )
                      .input-group-append
                        .input-group-append
                          button#uploadCompLogo.btn.btn-outline-secondary(
                            type="submit"
                          ) Upload
              .form-row.py-1
                .form-group.col-sm-2.col-form-label 
                  label(for="clubLogo") Club Logo
                .form-group.col-sm-4
                  form(
                    method="post",
                    enctype="multipart/form-data",
                    action="/images/clubLogo/default-competition"
                  )
                    .input-group
                      input#clubLogo.form-control(
                        type="file",
                        name="club-logo",
                        accept=".jpg, .png, .svg, .webp, .gif, .apng"
                      )
                      .input-group-append
                        button#uploadClubLogo.btn.btn-outline-secondary(
                          type="submit"
                        ) Upload
              .form-row.py-1
                .col-5.pl-3
                  input#showBjcpLogo.form-check-input(type="checkbox")
                  label.form-check-label(for="showBjcpLogo") Show BJCP Logo on Scoresheet
              .form-row.py-1
                .col-5.pl-3
                  input#showAhaLogo.form-check-input(type="checkbox")
                  label.form-check-label(for="showAhaLogo") Show AHA Logo on Scoresheet
              .form-row.py-1 
                button#editLogoInfoSaveButton.btn.mr-3.btn-success Update

          #output.tab-pane(role="tabpane3", aria-labelledby="output-tab")
            .container-fluid
              h3 Scoresheet Output
              .row
                .col-4
                  label(for="download-all-entries-button") Download All Entries as Concatenated PDFs
                  br
                  button#download-all-entries-button.btn.btn-primary(
                    type="button",
                    onclick=`downloadAllEntries()`
                  ) Download All Scoresheets
                  br
                  small <strong>Caution!</strong> May take a while (or even crash) depending on number of scoresheets and avaiable server resources!
                .col-1
                .col-4
                  label(for="download-all-raw-data-button") Download All Scoresheet Data as CSV
                  br
                  button#download-all-raw-data-button.btn.btn-primary(
                    type="button",
                    onclick=`getRawDataDump()`
                  ) Download Raw Data

          #entries.tab-pane(role="tabpane4", aria-labelledby="entries-tab")
            .container-fluid
              .form-check.mb-2
                .row
                  .col-3
                    input#filterByContested.form-check-input(type="checkbox")
                    label.form-check-label(for="filterByContested") Show Nonuniform Only
                    small#aboutContestedPopover.form-text.text-muted.link-style(
                      data-toggle="popover",
                      data-placement="bottom",
                      title="About Nonuniform Entries",
                      data-html="true",
                      data-content="Nonuniform entries occur when two or more scoresheets with the same entry number have different values that judges should have agreed upon. <br><br>Tracked nonuniform values include: <ul><li>Category</li><li>Consensus Score</li><li>Place</li><li>MiniBOS Advance</li></ul>"
                    ) What does this mean?
              table#entry_list_table.comp_entry_list.table.table-sm.table-striped.table-bordered.table-hover
                thead.thead-dark
                  tr
                    //- Table is generated dynamically by data-key in headers - to put more than one value in a cell, comma separate.
                    //- Entries have the property '_first' to denote the first entry with that prop; if other sheets with the same entry number vary, the '_contested' prop is flagged as true
                    th(scope="col", data-key="entry_number") Entry #
                    th(scope="col", data-key="numEntryScoresheets") # Scoresheets
                    th(
                      scope="col",
                      data-key="category_first, cat_name_first,mismatched_category"
                    ) Category
                    th(
                      scope="col",
                      data-key="consensus_score_first,mismatched_consensus_score"
                    ) Consenseus
                    th(scope="col", data-key="place_first,mismatched_place") Place
                    th(
                      scope="col",
                      data-key="mini_boss_advanced_first,mismatched_mini_boss_advanced"
                    ) Mini BOS
                tbody

          #scoresheets.tab-pane(
            role="tabpane5",
            aria-labelledby="scoresheets-tab"
          )
            .container-fluid
              table.comp_scoresheet_list.table.table-sm.table-striped.table-bordered.table-hover
                thead.thead-dark
                  tr
                    //- Table is generated dynamically by data-key in headers - to put more than one value in a cell, comma separate.
                    th(scope="col", data-key="entry_number") Scoresheet #
                    th(scope="col", data-key="category,sub,subcategory") Category
                    th(scope="col", data-key="FlightId") Flight
                    th(scope="col", data-key="UserId") Judge
                    th(scope="col", data-key="judge_total") Judge Score
                    th(scope="col", data-key="place") Place
                    th(scope="col", data-key="mini_boss_advanced") Mini BOS
                tbody
          #judges.tab-pane(role="tabpane6", aria-labelledby="judges-tab")
            .container-fluid
              table.comp_judges_list.table.table-sm.table-striped.table-bordered.table-hover
                thead.thead-dark
                  tr
                    //- Table is generated dynamically by data-key in headers - to put more than one value in a cell, comma separate.
                    th(scope="col", data-key="email") Email
                    th(scope="col", data-key="firstname") First Name
                    th(scope="col", data-key="lastname") Last Name
                    th(scope="col", data-key="numUserFlights") Judging Sessions
                    th(scope="col", data-key="numUserScoresheets") Entries Judged
                tbody
          #flights.tab-pane(role="tabpane7", aria-labelledby="flight-tab")
            .container-fluid
              table.comp_flights_list.table.table-sm.table-striped.table-bordered.table-hover
                thead.thead-dark
                  tr
                    //- Table is generated dynamically by data-key in headers - to put more than one value in a cell, comma separate.
                    th(scope="col", data-key="flight_id") FlightID
                    th(scope="col", data-key="UserId") Judge
                    th(scope="col", data-key="date") Date
                    th(scope="col", data-key="location") Location
                    th(scope="col", data-key="numFlightEntries") Entries
                    th(scope="col", data-key="submitted") Submitted
                tbody

  #flightDataModal.modal.fade(
    tabindex="-1",
    role="dialog",
    aria-labelledby="flightDataModalLabel",
    aria-hidden="true"
  )
    .modal-dialog.modal-lg
      .modal-content
        .modal-header 
          h5 Flight Information
        .modal-body
          .form-group
            .row
              .col
                .form-check
                  input#flighModalSubmitted.form-check-input(type="checkbox")
                  .form-check.label(for="flighModalSubmitted") Flight Submitted
                  small.form-text.text-muted.ml-4 Note: Flight information cannot be updated while flight is marked as submitted
          hr
          .form-group
            .row
              .col
                label(for="flightModalName") Flight ID
                input#flightModalName.form-control(
                  type="text",
                  placeholder="6 character flight ID found on the flight sheet"
                )
              .col
                label(for="flightModalLocation") Judging Location
                input#flightModalLocation.form-control(
                  type="text",
                  placeholder="Brewery, Local Homebrew Shop, Home, etc."
                )
          .form-group
            .row
              .col
                label(for="flightModalDate") Session Date
                input#flightModalDate.form-control(type="date")
              .col
                label(for="flightModalUser") Judge
                select#flightModalUser.form-control(type="text")
          .table-responsive
            table.table
              thead
                th(scope="col") Entry #
                th(scope="col") Category
                th.text-center(scope="col") Judge Score
                th.text-center(scope="col") Consensus Score
                th.text-center(scope="col") Place / Advance
                th.text-center(scope="col") BOS
                th.text-center(scope="col") PDF
              tbody#flightModalEntries
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Cancel
          button.btn.btn-danger(
            type="button",
            onclick="showDeleteFlightModal()"
          ) Delete
          button.btn.btn-primary(type="button", onclick="updateFlightData()") Update Flight
  #scoresheetDataModal.modal.fade(
    tabindex="-1",
    role="dialog",
    aria-labelledby="scoresheetDataModalLabel",
    aria-hidden="true"
  )
    .modal-dialog.modal-lg.modal-xl
      .modal-content
        .modal-header 
          h5 Scoresheet Preview
          input#scoresheetModalScoresheetId(hidden)
        .modal-body(style="height: 70vh;")
          iframe#scoresheetModalId(width="100%", height="100%")
        .modal-footer
          .mr-auto
            label(for="scoresheetModalEntryNumber") Scoresheet ID
            input#scoresheetModalEntryNumber.form-control(
              type="text",
              maxlength="6"
            )
          button.btn.btn-secondary(type="button", data-dismiss="modal") Close
          button.btn.btn-danger(
            type="button",
            onclick="showDeleteScoresheetModal()"
          ) Delete
          button.btn.btn-primary(
            type="button",
            onclick="updateScoresheetData()"
          ) Update Scoresheet
  #userDataModal.modal.fade(
    tabindex="-1",
    role="dialog",
    aria-labelledby="userDataModalLabel",
    aria-hidden="true"
  )
    .modal-dialog.modal-lg.modal-xl
      .modal-content
        .modal-header 
          h5 User Information
        .modal-body
          .form-group
            .row
              .col
                //- Email
                label(for="userModalEmail") Email
                .input-group
                  input#userModalEmail.form-control(type="text", disabled)
                  .input-group-append
                    .input-group-text
                      input#userModalEmailVerified.mr-2(type="checkbox") 
                      span Email Verified
                  .input-group-append
                    .input-group-text
                      input#userModalIsAdmin.mr-2(type="checkbox") 
                      span Admin
              .col
                //- Password
                label Password
                .input-group
                  input.form-control(
                    type="password",
                    value="not-a-real-password",
                    disabled
                  )
                  .input-group-append
                    button#userModalResetPasswordButton.btn.btn-danger(
                      type="button"
                    ) Reset Password
          .form-group
            .row
              .col
                //- First Name
                label(for="userModalFirstName") First Name
                input#userModalFirstName.form-control(type="text")
              .col
                //- Last Name
                label(for="userModalLastName") Last Name
                input#userModalLastName.form-control(type="text")
              .col
                //- BJCP ID
                label(for="userModalBjcpId") BJCP ID
                input#userModalBjcpId.form-control(type="text")
              .col
                //- BJCP rank
                label(for="userModalBjcpRank") BJCP Rank
                select#userModalBjcpRank.form-control
                  option(value="N/A", selected) N/A
                  option(value="Recognized") BJCP Recognized
                  option(value="Certified") BJCP Certified
                  option(value="National") BJCP National
                  option(value="Master") BJCP Master
                  option(value="GrandMaster") BJCP Grand Master
                  option(value="Apprentice") BJCP Apprentice
                  option(value="Affiliated") BJCP Affiliated
          .form-group
            .row
              .col
                //- Cicerone Rank
                label(for="userModalCiceroneRank") Cicerone
                select#userModalCiceroneRank.form-control
                  option(value="N/A", selected) N/A
                  option(value="level1") Level 1 - Certified Beer Server
                  option(value="level2") Level 2 - Certified Cicerone
                  option(value="level3") Level 3 - Advanced Cicerone
                  option(value="level4") Level 4 - Master Cicerone
              .col
                //- Pro Brewer
                label(for="userModalProBrewer") Professional Brewery
                input#userModalProBrewer.form-control(type="text")
              .col
                //- Industry
                label(for="userModalIndustry") Industry Experience
                input#userModalIndustry.form-control(type="text")
              .col
                //- Judging Years
                label(for="userModalJudgingYears") Judging Years
                input#userModalJudgingYears.form-control(type="number")
          .table-responsive
            table.table
              thead
                th(scope="col") Flight #
                th(scope="col") Judging Date
                th.text-center(scope="col") Judging Location
                th.text-center(scope="col") # Entries
              tbody#userModalFlights

        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Cancel
          button.btn.btn-primary(type="button", onclick="updateUserData()") Update User Information
  #entryDataModal.modal.fade(
    tabindex="-1",
    role="dialog",
    aria-labelledby="entryDataModalLabel",
    aria-hidden="true"
  )
    .modal-dialog.modal-lg.modal-xl
      .modal-content
        .modal-header 
          h5 Entry Information
        .modal-body
          .form-group
            .row
              .col
                #entryModalEntryContested(hidden)
                  h5.mb-1.text-center.text-danger #[span.material-icons warning] This entry is not uniform
                  small#aboutContestedPopover.text-center.form-text.text-muted.link-style(
                    data-toggle="popover",
                    data-placement="bottom",
                    title="About Nonuniform Entries",
                    data-html="true",
                    data-content="Nonuniform entries occur when two or more scoresheets with the same entry number have different values that judges should have agreed upon. <br><br>Tracked nonuniform values include: <ul><li>Category</li><li>Consensus Score</li><li>Place</li><li>MiniBOS Advance</li></ul>"
                  ) What does this mean?
              .col-auto.ml-auto
                button#downloadEntryScoresheetButton.btn.btn-primary.ml-auto(
                  onclick="downloadEntryScoresheet()"
                ) Download Entry Scoresheets
                small.form-text.text-muted Combines all scoresheets for entry into one PDF
            hr
          .form-group
            .row
              p.ml-3 Updating these parameters will change <strong>all scoresheets</strong> associated with this Entry Number.
            .row
              .col-4
                label(for="entryModalEntryNumber") Entry Number
                input#entryModalEntryNumber.form-control(
                  type="text",
                  placeholder="Entry or Judging Number"
                )
              .col-2
                label(for="entryModalCategory") Category
                select#entryModalCategory.form-control
                  each category in [...[...Array(34).keys()].map(val => val+1), "M1", "M2", "M3", "M4"]
                    option #{category}
              .col-2
                label(for="entryModalSub") Subcat
                select#entryModalSub.form-control
                  each sub in ['A', 'B', 'C', 'D', 'E', 'F']
                    option #{sub}
              .col-4
                label(for="entryModalSubcat") Category Name
                input#entryModalSubcat.form-control(
                  type="text",
                  placeholder="Full Category Name"
                )
          .table-responsive
            table.table
              thead
                th.text-center(scope="col") Judge
                th.text-center(scope="col") Flight
                th.text-center(scope="col") Category
                th.text-center(scope="col") Judge Score
                th.text-center(scope="col") Consensus Score
                th.text-center(scope="col") Place / Advance
                th.text-center(scope="col") BOS
                th.text-center(scope="col") PDF
              tbody#entryModalScoresheets
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Cancel
          button.btn.btn-primary(type="button", onclick="updateEntryData()") Update Entry

  #confirm-delete-scoresheet-modal.modal.fade(
    tabindex="-1",
    role="dialog",
    aria-labelledby="confirmDeleteEntryLabel",
    aria-hidden="true",
    style="background: rgba(0,0,0,0.7);"
  )
    .modal-dialog
      .modal-content
        .modal-header 
          h5 Confirm Delete Scoresheet
        .modal-body 
          p Are you sure you want to delete this scoresheet? All data will be permanently lost.
          p This action <strong>CANNOT BE UNDONE</strong>.
          .form-check.pt-4
            input#user_verify_scoresheet_delete.form-check-input(
              type="checkbox"
            )
            label.form-check-label(for="user_verify_scoresheet_delete") I understand and want to delete this scoresheet.
        .modal-footer
          input#scoresheet-to-delete(value=null, hidden)
          button.btn.btn-secondary(
            type="button",
            data-dismiss="modal",
            onclick="clearScoresheetToDelete()"
          ) Cancel
          button.btn.btn-danger(type="button", onclick="deleteScoresheet();") Delete Scoresheet
  #confirm-delete-flight-modal.modal.fade(
    tabindex="-1",
    role="dialog",
    aria-labelledby="confirmDeleteFlightLabel",
    aria-hidden="true",
    style="background: rgba(0,0,0,0.7);"
  )
    .modal-dialog
      .modal-content
        .modal-header 
          h5 Confirm Delete Flight
        .modal-body 
          p Are you sure you want to delete this flight? All child scoresheets will also be deleted.
          p This action <strong>CANNOT BE UNDONE</strong>.
          .form-check.pt-4
            input#user_verify_flight_delete.form-check-input(type="checkbox")
            label.form-check-label(for="user_verify_flight_delete") I understand and want to delete this flight.
        .modal-footer
          input#flight-to-delete(value=null, hidden)
          button.btn.btn-secondary(
            type="button",
            data-dismiss="modal",
            onclick="clearFlightToDelete()"
          ) Cancel
          button.btn.btn-danger(type="button", onclick="deleteFlight();") Delete Flight

  script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
  script(
    src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"
  )
  script(src="/javascripts/admin.js")
  script(src="/javascripts/download.js")

  link(
    rel="stylesheet",
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"
  )
  link(
    rel="stylesheet",
    href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"
  )
