head
  meta(charset="UTF-8")
  title SCP BJCP Scoresheet
  link(rel="stylesheet", href="/stylesheets/bjcp_standard_scoresheet.css")
#primary_header
  .bjcp_badge
    img(src="")
  .header_content.text_bold.text_italic.text_larger.text_arial_black
    | BEER SCORESHEET
  .aha_badge
    img(src="")
  .header_footer
    span.alignleft http://www.bjcp.org?
    span.text_bold.aligncenter AHA/BJCP Sanctioned Competition Program
    span.alignright http://homebrewersassociation.org
#information_row
  .judge_information.lheight-large
    .row.text_normal
      span.text_bold Judge Name
      |
      | (print)
      span.border-bot-solid-1.display-iblock.lheight-normal.text_center(
        style="width:179px;"
      ) &nbsp;
    .row.text_normal
      span.text_bold Judge BJCP ID
      span.border-bot-solid-1.display-iblock.lheight-normal.text_center(
        style="width:195px;"
      ) &nbsp;
    .row.text_normal
      span.text_bold Judge Email
      span.border-bot-solid-1.display-iblock.lheight-normal.text_center(
        style="width:206px;"
      ) &nbsp;
  .entry_information.text_normal.lheight-large
    .row
      span.text_bold Category#
      span.border-bot-solid-1.display-iblock.lheight-normal.text_center(
        style="width:60px;"
      ) &nbsp;
      span.text_bold Subcategory (a-f)
      span.border-bot-solid-1.display-iblock.lheight-normal.text_center(
        style="width:60px;"
      ) &nbsp;
      span.text_bold Entry #
      span.border_solid_1.display-iblock.text_center(style="width:115px;") &nbsp;
    .row
      span.text_bold Subcategory
      |
      | (spell out)
      span.border-bot-solid-1.display-iblock.lheight-normal.text_center(
        style="width:325px;"
      ) &nbsp;
    .row
      span.text_bold Special Ingredients:
      span.border-bot-solid-1.display-iblock.lheight-normal.text_center(
        style="width:337px;"
      ) &nbsp;
    .row
      span.text_bold Bottle Inspection:
      span.border_solid_1 &emsp;
      | &emsp;Appropriate size, cap, fill level, label removal, etc.
#column_container.text_normal
  #left_column
    .row.text_bold.pbot-5
      | BJCP Rank or Status:
    .row.pbot-5
      .col.col_30
        span.border_solid_1 &emsp;
        | &nbsp;Apprentice
      .col.col_30
        span.border_solid_1 &emsp;
        | &nbsp;Recognized
      .col.col_30
        span.border_solid_1 &emsp;
        | &nbsp;Certified
    .row.pbot-5
      .col.col_30
        span.border_solid_1 &emsp;
        | &nbsp;National
      .col.col_30
        span.border_solid_1 &emsp;
        | &nbsp;Master
      .col.col_30
        span.border_solid_1 &emsp;
        | &nbsp;Grand Master
        span.border-bot-solid-1.display-iblock.lheight-normal.text_center(
          style="width:15px;"
        ) &nbsp;
    .row.pbot-5
      .col.col_30
        span.border_solid_1 &emsp;
        | &nbsp;Honorary Master
      .col.col_30
        span.border_solid_1 &emsp;
        | &nbsp;Honorary GM
      .col.col_30
        span.border_solid_1 &emsp;
        | &nbsp;Mead Judge
    .row.pbot-5
      .col.col_30
        span.border_solid_1 &emsp;
        | &nbsp;Provisional Judge
      .col.col_30
        span.border_solid_1 &emsp;
        | &nbsp;Rank Pending
      .col.col_30
        span.border_solid_1 &emsp;
        | &nbsp;Cider Judge
    .row.text_bold.pbot-5.mtop_5
      | Non-BJCP Qualifications:
    .row.pbot-5
      .col.col_30
        span.border_solid_1 &emsp;
        | &nbsp;Professional Brewer
      .col.col_30
        span.border_solid_1 &emsp;
        | &nbsp;Beer Sommelier
      .col.col_30
        span.border_solid_1 &emsp;
        | &nbsp;GABF/WBC
    .row.pbot-5
      .col.col_30
        span.border_solid_1 &emsp;
        | &nbsp;Certified Cicerone
      .col.col_30
        span.border_solid_1 &emsp;
        | &nbsp;Adv. Cicerone
      .col.col_30
        span.border_solid_1 &emsp;
        | &nbsp;Masert Cicerone
    .row.pbot-5
      .col.col_30
        span.border_solid_1 &emsp;
        | &nbsp;Sensory Training
      .col.col_60
        span.border_solid_1 &emsp;
        | &nbsp;Other
        span.border-bot-solid-1.display-iblock.lheight-normal.text_center(
          style="width:140px;"
        ) &nbsp;
    .row.text_bold.pbot-5.mtop_5
      | Descriptor Definitions (Mark all that apply):
    .row.pbot-5.rev_para_indent.mtop_5
      span.border_solid_1 &emsp;
      span.text_bold Acetaldehyde
      |
      | - Green apple-like aroma and flavor.
    .row.pbot-5.rev_para_indent.mtop_5
      span.border_solid_1 &emsp;
      span.text_bold Alcoholic
      |
      | &ndash; The aroma, flavor, and warming effect of ethanol and higher alcohols. Sometimes described as hot.
    .row.pbot-5.rev_para_indent.mtop_5
      span.border_solid_1 &emsp;
      span.text_bold Astringent
      |
      | &ndash; Puckering, lingering harshness and/or dryness in the finish/aftertaste; harsh graininess; huskiness.
    .row.pbot-5.rev_para_indent.mtop_5
      span.border_solid_1 &emsp;
      span.text_bold Diacetyl
      |
      | Artificial butter, butterscotch, or toffee aroma and flavor. Sometimes perceived as a slickness on the tongue.
    .row.pbot-5.rev_para_indent.mtop_5
      span.border_solid_1 &emsp;
      span.text_bold DMS (dimethyl sulfide)
      |
      | &ndash; At low levels a sweet, cooked or canned corn-like aroma and flavor.
    .row.pbot-5.rev_para_indent.mtop_5
      span.border_solid_1 &emsp;
      span.text_bold Esters
      |
      | &ndash; Aroma and/or flavor of any ester (fruits, fruit flavorings, or roses).
    .row.pbot-5.rev_para_indent.mtop_5
      span.border_solid_1 &emsp;
      span.text_bold Grassy
      |
      | &ndash; Aroma/flavor of fresh-cut grass or green leaves.
    .row.pbot-5.rev_para_indent.mtop_5
      span.border_solid_1 &emsp;
      span.text_bold Light-Struck
      |
      | &ndash; Similar to the aroma of a skunk.
    .row.pbot-5.rev_para_indent.mtop_5
      span.border_solid_1 &emsp;
      span.text_bold Metallic
      |
      | &ndash; Tinny, coiny, copper, iron, or blood-like flavor.
    .row.pbot-5.rev_para_indent.mtop_5
      span.border_solid_1 &emsp;
      span.text_bold Musty
      |
      | &ndash; Stale, musty, or moldy aromas/flavors.
    .row.pbot-5.rev_para_indent.mtop_5
      span.border_solid_1 &emsp;
      span.text_bold Oxidized
      |
      | &ndash; Any one or combination of stale, winy/vinous,&#x9;cardboard, papery, or sherry-like aromas and flavors.
    .row.pbot-5.rev_para_indent.mtop_5
      span.border_solid_1 &emsp;
      span.text_bold Phenolic
      |
      | &ndash; Spicy (clove, pepper), smoky, plastic, plastic adhesive strip, and/or medicinal (chlorophenolic).
    .row.pbot-5.rev_para_indent.mtop_5
      span.border_solid_1 &emsp;
      span.text_bold Solvent
      |
      | &ndash; Aromas and flavors of higher alcohols (fusel alcohols). Similar to acetone or lacquer thinner aromas.
    .row.pbot-5.rev_para_indent.mtop_5
      span.border_solid_1 &emsp;
      span.text_bold Sour/Acidic
      |
      | &ndash; Tartness in aroma and flavor. Can be sharp and clean (lactic acid), or vinegar-like (acetic acid).
    .row.pbot-5.rev_para_indent.mtop_5
      span.border_solid_1 &emsp;
      span.text_bold Sulfur
      |
      | &ndash; The aroma of rotten eggs or burning matches.
    .row.pbot-5.rev_para_indent.mtop_5
      span.border_solid_1 &emsp;
      span.text_bold Vegetal
      |
      | &ndash; Cooked, canned, or rotten vegetable aroma and flavor (cabbage, onion, celery, asparagus, etc.)
    .row.pbot-5.rev_para_indent.mtop_5
      span.border_solid_1 &emsp;
      span.text_bold Yeasty
      |
      | &ndash; A bready, sulfury or yeast-like aroma or flavor.
  #right_column
    .row
      | Comments
      span.border-bot-solid-1.display-iblock.lheight-normal.text_center(
        style="width:373px;"
      ) &nbsp;
    .row.mtop_15
      span.text_bold Aroma
      |
      | (as appropriate for style)
      span.border-bot-solid-1.display-iblock.lheight-normal.text_center(
        style="width:75px;margin-left:194px;"
      ) &nbsp;
      span.text_bold /12
      .text_small.text_italic.mbot_5 Comment on malt, hops, esters, and other aromatics
      span.text_multiline_underlines
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .row.mtop_15
      span.text_bold Appearance
      |
      | (as appropriate for style)
      span.border-bot-solid-1.display-iblock.lheight-normal.text_center(
        style="width:75px;margin-left:175px;"
      ) &nbsp;
      span.text_bold /3
      .text_small.text_italic.mbot_5 Comment on color, clarity, and head (retention, color, and texture)
      span.text_multiline_underlines
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .row.mtop_15
      span.text_bold Mouthfeel
      |
      | (as appropriate for style)
      span.border-bot-solid-1.display-iblock.lheight-normal.text_center(
        style="width:75px;margin-left:185px;"
      ) &nbsp;
      span.text_bold /5
      .text_small.text_italic.mbot_5
        | Comment on body, carbonation, warmth, creaminess, astringency, and other palate sensations
      span.text_multiline_underlines
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .row.mtop_15
      span.text_bold Overall Impression
      span.border-bot-solid-1.display-iblock.lheight-normal.text_center(
        style="width:75px;margin-left:248px;"
      ) &nbsp;
      span.text_bold /10
      .text_small.text_italic.mbot_5
        | Comment on overall drinking pleasure associated with entry, give suggestions for improvement
      span.text_multiline_underlines
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .row.mtop_15
      span.text_bold(style="margin-left:210px;") Total
      span.border-bot-solid-1.display-iblock.lheight-normal.text_center(
        style="width:75px;margin-left:100px;"
      ) &nbsp;
      span.text_bold /10
  #bottom_row
    .left
      .scoring_guide
        .part1 &nbsp;
        .part2 SCORING GUIDE
        .border_solid_1.float_left.pleft-5.ptop-5(
          style="width: 90%; height: 74px;"
        )
          .row
            .col.col_20
              span.text_bold Outstanding
            .col
              span.text_small (45-50): World-class example of style.
          .row
            .col.col_20
              span.text_bold Excellent
            .col
              span.text_small (38 - 44): Exemplifies style well, requires minor fine-tuning.
          .row
            .col.col_20
              span.text_bold Very Good
            .col
              span.text_small (30 - 37): Generally within style parameters, some minor flaws.
          .row
            .col.col_20
              span.text_bold Good
            .col
              span.text_small (21 - 29): Misses the mark on style and/or minor flaws.
          .row
            .col.col_20
              span.text_bold Fair
            .col
              span.text_small (14 - 20): Off flavors/aromas or major style deficiencies. Unpleasant.
          .row
            .col.col_20
              span.text_bold Problematic
            .col
              span.text_small (00 - 13): Major off flavors and aromas dominate. Hard to drink.
    .right
      .border_solid_1.float_left.ptop-5.text_size_85.text_center(
        style="width: 95%; height: 74px;"
      )
        .text_bold Stylistic Accuracy
        .row.pbot-5
          .col.col_30.text_bold.text_right
            | Classic Example
          .col.mbothx_1
            span.border_solid_1.mbothx_5 &emsp;
          .col.mbothx_1
            span.border_solid_1.mbothx_5 &emsp;
          .col.mbothx_1
            span.border_solid_1.mbothx_5 &emsp;
          .col.mbothx_1
            span.border_solid_1.mbothx_5 &emsp;
          .col.mbothx_1
            span.border_solid_1.mbothx_5 &emsp;
          .col.col_30.text_bold.text_left
            | Not to Style
        .text_bold Technical Merit
        .row.pbot-5
          .col.col_30.text_bold.text_right
            | Flawless
          .col.mbothx_1
            span.border_solid_1.mbothx_5 &emsp;
          .col.mbothx_1
            span.border_solid_1.mbothx_5 &emsp;
          .col.mbothx_1
            span.border_solid_1.mbothx_5 &emsp;
          .col.mbothx_1
            span.border_solid_1.mbothx_5 &emsp;
          .col.mbothx_1
            span.border_solid_1.mbothx_5 &emsp;
          .col.col_30.text_bold.text_left
            | Significant Flaws
        .text_bold Intangibles
        .row.pbot-5
          .col.col_30.text_bold.text_right
            | Wonderful
          .col.mbothx_1
            span.border_solid_1.mbothx_5 &emsp;
          .col.mbothx_1
            span.border_solid_1.mbothx_5 &emsp;
          .col.mbothx_1
            span.border_solid_1.mbothx_5 &emsp;
          .col.mbothx_1
            span.border_solid_1.mbothx_5 &emsp;
          .col.mbothx_1
            span.border_solid_1.mbothx_5 &emsp;
          .col.col_30.text_bold.text_left
            | Lifeless
#primary_footer(style="font-size: 8px;")
  span.float_left.text_italic
    | BJCP Beer Scoresheet Copyright &copy; 2017 Beer Judge Certification Program rev. 170612
  span.float_right.text_italic Please send any comments to Comp_Director@BJCP.org
