extends layout

block content
  .container.d-flex.justify-content-center
    form.form-signin(
      role="form",
      action="/forgotpassword",
      method="post",
      style="max-width: 500px;"
    )
      h2.form-signin-heading Password Reset Request
      input.form-control(
        type="string",
        name="email",
        placeholder="Email Address"
      )
      button.btn.btn-lg.btn-primary.btn-block(type="submit") Submit
