extends layout

block content
  if !user
    .container
      .logo_holder.mx-auto.text-center
        img.img-fluid.d-inline-block(
          src="/images/page-logos/club-logo.png",
          alt="Logo",
          height="400px"
        )
        img.img-fluid.d-inline-block(
          src="/images/page-logos/comp-logo.png",
          alt="Logo",
          height="400px"
        )
      h1.text-center Welcome!
      p.text-center Welcome to the Cane Island Alers Digital Scoresheet Manager. Please use the menu above to navigate to your desired action.
  else if !user.email_verified
    .container.d-flex.flex-column.justify-content-center.mt-5(
      style="width: 450px;"
    )
      h3 Verify Email
      p Almost done! Please check your email inbox and verify your account.
      p If you are having trouble finding the validation email, check your spam or junk folder. You can also request a new validation email using the button below.
      a.mt-3.btn.btn-primary(type="button", href="/requestvalidation") Resend Validation Email
  else
    .container
      .card
        .card-header
          .d-flex.justify-content-between
            h2.ml-3 My Flights
            ul#scoresheet-list.nav.nav-pills(role="tablist")
              li.nav-item(role="presentation")
                a#inProgressTab.nav-link.px-5.active(
                  data-toggle="pill",
                  href="#inProgress",
                  aria-controls="inProgress",
                  aria-selected="true"
                ) Show In Progress Flights
              li.nav-item(role="presentation")
                a#completedTab.nav-link.px-5(
                  data-toggle="pill",
                  href="#completed",
                  aria-controls="completed",
                  aria-selected="false"
                ) Show Completed Flights
        .card-body
          .tab-content
            #inProgress.tab-pane.fade.show.active(
              role="tabpane2",
              aria-labelledby="inProgressTab"
            )
              #inProgressAccordian.accordian
                - var unsubmittedFlights = Object.values(flights).filter((flight) => !flight.submitted);
                if unsubmittedFlights.length
                  each flight, index in unsubmittedFlights
                    - var isLastFlight = unsubmittedFlights.length - 1 === index;
                    .card
                      .card-header(
                        id='header' + flight.id,
                        style="background-color: rgba(124,122,120,0.35"
                      )
                        .d-flex.flex-row.justify-content-between.p-0.m-0.panel-title(
                          flight-id=flight.id,
                          flight-name=flight.flight_id,
                          flight-location=flight.location,
                          flight-date=flight.date,
                          type="button",
                          data-toggle="collapse",
                          data-target='#collapse' + flight.id,
                          aria-expanded=isLastFlight ? 'true' : 'false',
                          aria-controls="collapseOne",
                          class=isLastFlight ? 'collapsed' : ''
                        ) 
                          h5.my-auto.p-0 <strong>Flight ##{flight.flight_id}</strong> <small>&nbsp; &nbsp; &nbsp; #{new Date(flight.date).toLocaleDateString()} &nbsp; &nbsp; &nbsp; #{flight.location}</small>
                          div
                            button.btn.btn-primary.btn-sm.px-1.py-1.mr-2(
                              onclick=`event.stopPropagation();showEditFlightModal("${flight.id}")`,
                              title="Edit Flight"
                            ) <span class="material-icons align-middle" style="font-size: 18px">create</span>
                            button.btn.btn-danger.btn-sm.px-1.py-1.m-0(
                              onclick=`event.stopPropagation();showDeleteFlightModal("${flight.id}")`,
                              title="Delete Flight"
                            ) <span class="material-icons align-middle" style="font-size: 18px">delete</span>
                      div(
                        id='collapse' + flight.id,
                        aria-labelledby='header' + flight.id,
                        data-parent="#inProgressAccordian",
                        class=isLastFlight ? 'collapse show' : 'collapse'
                      )
                        .card-body
                          table.table.table-hover.table-borderless
                            thead
                              tr
                                th(scope="col") Entry #
                                th(scope="col") Category
                                th.text-center(scope="col") Judge Score
                                th.text-center(scope="col") Consensus Score
                                th.text-center(scope="col") Place / Advance
                                th.text-center(scope="col") MiniBOS Advance
                                th(scope="col")
                            tbody
                              if flight.scoresheets.length
                                each scoresheet in flight.scoresheets
                                  tr
                                    td(scope="row") #{scoresheet.entry_number}
                                    td #{scoresheet.category + scoresheet.sub} - #{scoresheet.subcategory}
                                    td.text-center
                                      input.form-control.text-center(
                                        type="number",
                                        value=scoresheet.judge_total,
                                        disabled
                                      )
                                    td.text-center
                                      input.form-control.text-center(
                                        type="number",
                                        value=scoresheet.consensus_score,
                                        onchange=`updateScoresheet('${scoresheet.id}', 'consensus_score', this.value)`
                                      )
                                    td.text-center
                                      select.form-control(
                                        onchange=`updateScoresheet('${scoresheet.id}', 'place', this.value)`
                                      )
                                        option -
                                        option(
                                          value=1,
                                          selected=scoresheet.place === 1
                                        ) 1st
                                        option(
                                          value=2,
                                          selected=scoresheet.place === 2
                                        ) 2nd
                                        option(
                                          value=3,
                                          selected=scoresheet.place === 3
                                        ) 3rd
                                    td.text-center 
                                      .btn-group-toggle(data-toggle="buttons")
                                        label.btn.btn-outline-success(
                                          class=Boolean(scoresheet.mini_boss_advanced) ? 'active' : ''
                                        ) Advance
                                          input#mini_boss_advanced(
                                            type="checkbox",
                                            autocomplete="off",
                                            name="mini_boss_advanced",
                                            checked=Boolean(scoresheet.mini_boss_advanced),
                                            onchange=`updateScoresheet('${scoresheet.id}', 'mini_boss_advanced', this.checked)`
                                          )
                                    td.text-center.d-flex.justify-content-between
                                      button.btn.btn-primary.btn-sm.px-1.py-1.mr-2(
                                        onclick=`editEntry('${scoresheet.id}')`,
                                        title="Edit Scoresheet"
                                      ) <span class="material-icons align-middle" style="font-size: 18px">create</span>
                                      button.btn.btn-danger.btn-sm.px-1.py-1.m-0(
                                        onclick=`showDeleteEntryModal('${scoresheet.id}')`,
                                        title="Delete Scoresheet"
                                      ) <span class="material-icons align-middle" style="font-size: 18px">delete</span>
                              else
                                p.text-center.text-muted No scoresheets in this flight yet. Want to #[a.link-style(onClick=`addEntry('${flight.id}')`) add one]?

                          .d-flex.flex-row
                            button.mt-3.mr-2.btn.btn-primary(
                              type="button",
                              onClick=`addEntry('${flight.id}')`,
                              title="Add Scoresheet"
                            ) <span class="material-icons align-middle">post_add</span>
                            button.mt-3.btn.btn-success(
                              type="button",
                              onClick=`confirmSubmitFlight('${flight.id}')`,
                              title="Submit Flight"
                            ) Submit Flight
                else
                  p.text-center.text-muted No flights to display. Want to #[a.link-style(onClick="showAddFlightModal()") add one]?
              button.mt-3.btn.btn-primary(
                type="button",
                onClick="showAddFlightModal()"
              ) Add New Flight
            #completed.tab-pane.fade(
              role="tabpane1",
              aria-labelledby="completedTab"
            )
              - var submittedFlights = Object.values(flights).filter((flight) => flight.submitted);
              if submittedFlights.length
                each flight, index in submittedFlights
                  - var isLastFlight = submittedFlights.length - 1 === index;
                  .card
                    .card-header(
                      id='header' + flight.id,
                      style="background-color: rgba(124,122,120,0.35"
                    )
                      .d-flex.flex-row.justify-content-between.panel-title(
                        type="button",
                        data-toggle="collapse",
                        data-target='#collapse' + flight.id,
                        aria-expanded=isLastFlight ? 'true' : 'false',
                        aria-controls="collapseOne",
                        class=isLastFlight ? 'collapsed' : ''
                      ) 
                        h5.m-0.p-0 <strong>Flight #{flight.flight_id}</strong> <small> &nbsp; &nbsp; &nbsp; #{new Date(flight.date).toLocaleDateString()} &nbsp; &nbsp; &nbsp; #{flight.location}</small>
                    div(
                      id='collapse' + flight.id,
                      aria-labelledby='header' + flight.id,
                      data-parent="#inProgressAccordian",
                      class=isLastFlight ? 'collapse show' : 'collapse'
                    )
                      .card-body
                        table.table.table-hover.table-borderless
                          thead
                            tr
                              th(scope="col") Entry #
                              th(scope="col") Category
                              th.text-center(scope="col") Judge Score
                              th.text-center(scope="col") Consensus Score
                              th.text-center(scope="col") Placed / Advanced
                              th.text-center(scope="col") MiniBOS Advanced
                              th(scope="col")
                          tbody
                            each scoresheet in flight.scoresheets
                              tr
                                td(scope="row") #{scoresheet.entry_number}
                                td #{scoresheet.category + scoresheet.sub} - #{scoresheet.subcategory}
                                td.text-center
                                  input.form-control.text-center(
                                    type="number",
                                    value=scoresheet.judge_total,
                                    disabled
                                  )
                                td.text-center
                                  input.form-control.text-center(
                                    type="number",
                                    value=scoresheet.consensus_score,
                                    disabled
                                  )
                                td.text-center
                                  select.form-control(disabled)
                                    option -
                                    option(
                                      value=0,
                                      selected=scoresheet.place === 0
                                    ) Advance
                                    option(
                                      value=1,
                                      selected=scoresheet.place === 1
                                    ) 1st
                                    option(
                                      value=2,
                                      selected=scoresheet.place === 2
                                    ) 2nd
                                    option(
                                      value=3,
                                      selected=scoresheet.place === 3
                                    ) 3rd
                                td.text-center 
                                  .btn-group-toggle(data-toggle="buttons")
                                    label.btn.btn-outline-success.no-hover(
                                      class=Boolean(scoresheet.mini_boss_advanced) ? 'active' : ''
                                    ) Advance
                                      input#mini_boss_advanced(
                                        type="checkbox",
                                        autocomplete="off",
                                        name="mini_boss_advanced",
                                        checked=Boolean(scoresheet.mini_boss_advanced),
                                        disabled
                                      )
                                td.text-center
                                  button.btn.btn-primary(
                                    id=`download-${scoresheet.id}`,
                                    type="button",
                                    onclick=`downloadPdf('${scoresheet.id}', '${scoresheet.entry_number}')`
                                  ) <span class="material-icons align-middle" style="font-size:20px;">picture_as_pdf</span>
                        .d-flex.flex-row
                          button.mt-3.mr-2.btn.btn-primary(
                            id=`download-all-${flight.id}`,
                            type="button",
                            onClick=`downloadAll([${flight.scoresheets.map((scoresheet) => "{id:'" + scoresheet.id + "', entry_number: '" + scoresheet.entry_number + "'}").join(',')}], "${flight.id}")`
                          ) Download All
              else
                p.text-center.text-muted No submitted flights (yet)

    #addFlightModal.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="addFlightModalLabel",
      aria-hidden="true"
    )
      .modal-dialog
        .modal-content
          .modal-header 
            h5 Flight Information
          .modal-body
            .form-group
              label(for="flightName") Flight ID
              input#flightName.form-control(
                type="text",
                placeholder="6 character flight ID found on the flight sheet"
              )
            .form-group
              label(for="flightLocation") Judging Location
              input#flightLocation.form-control(
                type="text",
                placeholder="Brewery, Local Homebrew Shop, Home, etc."
              )
            .form-group
              label(for="flightDate") Session Date
              input#flightDate.form-control(type="date")
          .modal-footer
            input#flight-to-edit(value=null, hidden)
            button.btn.btn-secondary(type="button", data-dismiss="modal") Cancel
            button#addFlightButton.btn.btn-primary(
              type="button",
              onclick="addFlight()"
            ) Add Flight
            button#editFlightButton.btn.btn-primary(
              type="button",
              onclick="editFlight()"
            ) Edit Flight
    #confirm-submit-flight-modal.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="confirmSubmitFlightLabel",
      aria-hidden="true"
    )
      .modal-dialog
        .modal-content
          .modal-header 
            h5 Confirm Submit Flight
          .modal-body 
            p Please take a moment to review your scoresheets, placings, consensus scores, and best of show submissions.
            p <strong>Once you click submit, you may no longer edit the flight or any of its scoresheets!</strong>
            p Are you sure you want to complete this flight?
            .form-check.pt-4
              input#user_verify_flight_submit.form-check-input(type="checkbox")
              label.form-check-label(for="user_verify_flight_submit") I confirm I have verified all flight information and am ready to submit
          .modal-footer
            input#flight-to-submit(value=null, hidden)
            button.btn.btn-secondary(
              type="button",
              data-dismiss="modal",
              onclick="clearFlightToSubmit()"
            ) Cancel
            button.btn.btn-primary(type="button", onclick="submitFlight();") Submit Flight
    #confirm-delete-flight-modal.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="confirmDeleteFlightLabel",
      aria-hidden="true"
    )
      .modal-dialog
        .modal-content
          .modal-header 
            h5 Confirm Delete Flight
          .modal-body 
            p Are you sure you want to delete this flight? All child scoresheets will also be deleted.
            p This action <strong>CANNOT BE UNDONE</strong>.
            .form-check.pt-4
              input#user_verify_flight_delete.form-check-input(type="checkbox")
              label.form-check-label(for="user_verify_flight_delete") I understand and want to delete this flight.
          .modal-footer
            input#flight-to-delete(value=null, hidden)
            button.btn.btn-secondary(
              type="button",
              data-dismiss="modal",
              onclick="clearFlightToDelete()"
            ) Cancel
            button.btn.btn-danger(type="button", onclick="deleteFlight();") Delete Flight
    #confirm-delete-entry-modal.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="confirmDeleteEntryLabel",
      aria-hidden="true"
    )
      .modal-dialog
        .modal-content
          .modal-header 
            h5 Confirm Delete Scoresheet
          .modal-body 
            p Are you sure you want to delete this scoresheet? All data will be permanently lost.
            p This action <strong>CANNOT BE UNDONE</strong>.
            .form-check.pt-4
              input#user_verify_entry_delete.form-check-input(type="checkbox")
              label.form-check-label(for="user_verify_entry_delete") I understand and want to delete this scoresheet.
          .modal-footer
            input#entry-to-delete(value=null, hidden)
            button.btn.btn-secondary(
              type="button",
              data-dismiss="modal",
              onclick="clearEntryToDelete()"
            ) Cancel
            button.btn.btn-danger(type="button", onclick="deleteEntry();") Delete Scoresheet
  script(src="/javascripts/download.js")
  script(src="/javascripts/index.js")
