doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")

		title= title

		//-link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
		link(rel="stylesheet", href="/stylesheets/sandstone_theme/bootstrap.css")
		link(
			rel="stylesheet",
			href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		)
		link(
			rel="stylesheet",
			href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/css/bootstrap-slider.css"
		)
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="/stylesheets/tagsinput.css")

		script(
			src="https://code.jquery.com/jquery-3.4.1.min.js",
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=",
			crossorigin="anonymous"
		)
		script(
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js",
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1",
			crossorigin="anonymous"
		)
		script(
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js",
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM",
			crossorigin="anonymous"
		)
		script(
			src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/bootstrap-slider.js"
		)
		script(
			src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"
		)
		script(
			src="/javascripts/tagsinput.js"
		)

	body
		.container
			nav.navbar.navbar-expand-lg.navbar-light.pb-0
				a.navbar-brand(href="/")
					img(src="/images/app-logo.png" style="height:40px;")
				button.navbar-toggler(
					type="button",
					data-toggle="collapse",
					data-target="#navbarTogglerDemo01",
					aria-controls="navbarTogglerDemo01",
					aria-expanded="false",
					aria-label="Toggle navigation"
				)
					span.navbar-toggler-icon
				#navbarTogglerDemo01.collapse.navbar-collapse
					ul.navbar-nav.ml-auto.mt-2.mt-lg-0.float-right
						if (user)
							li.nav-item.dropdown.align-right
								a#navbarDropdown.nav-link.dropdown-toggle(
									role="button",
									data-toggle="dropdown",
									aria-haspopup="true",
									aria-expanded="false"
								) #{user.firstname} #{user.lastname}
								.dropdown-menu
									a.dropdown-item(href="/") My Flights
									a.dropdown-item(href="/profile/edit") Edit Profile
									if (user && user.user_level)
										a.dropdown-item(href="/admin") Admin Panel
									.dropdown-divider
									a.dropdown-item(href="/logout") Logout
						if (!user)
							li.nav-item
								a.nav-link(href="/login") Login
							li.nav-item
								a.nav-link(href="/register") Register
			hr.m-0.p-0
			.container.mt-3
				!= messages('message', locals)
				if errors
					each error, i in errors
						.alert.alert-danger #{error.msg}

			.content
				block content
