extends layout

block content
	.container.d-none.d-md-block
		.card  
			.card-header
				ul.nav.nav-tabs.card-header-tabs(id='scoresheet-list' role='tablist')
					li.nav-item
						a.nav-link.px-2.active(data-toggle='tab' href='#completed' aria-controls='completed' aria-selected='true') Completed
					li.nav-item
						a.nav-link.px-2(data-toggle='tab' href='#inProgress' aria-controls='inProgress' aria-selected='false') In Progress
			.card-body
				.tab-content
					.tab-pane.active(id='completed' role='tabpane1' aria-labelledby='completedTab') 
						h2 Completed Scoresheets
						table.comp_entry_list.table.table-sm.table-striped.table-bordered.table-hover
							thead.thead-dark
								tr
									th(scope='col') Entry #
									th(scope='col') BJCP Category
									th(scope='col') Category Name
									th(scope='col') Session Date
							tbody
								if (scoresheets)
									each sheet in scoresheets
										if (sheet.scoresheet_submitted)
											tr
												th(scope='row' ) 
													//- a.pr-3(href='/scoresheet/pdf/'+sheet._id download)
													//- 	img(src='../images/pdfDownloadIcon.png' style='height:24px;width:24px')
													input(type='image' id='download_'+sheet._id src='../images/pdfDownloadIcon.png' alt='Download' style='height:24px;width:32px;padding-right:8px;' onclick=`downloadPDF('${sheet._id}', '${sheet.entry_number}')`) 
													a(href='') #{sheet.entry_number}
												td #{sheet.category}#{sheet.sub}
												td #{sheet.subcategory}
												td
													if sheet.session_date
														a(href='') #{sheet.session_date.toString().slice(0,16).slice(4)}

					.tab-pane(id='inProgress' role='tabpane2' aria-labelledby='inProgressTab') 
						h2 In Progress Scoresheets
						table.comp_entry_list.table.table-sm.table-striped.table-bordered.table-hover
							thead.thead-dark
								tr
									th(scope='col') Entry #
									th(scope='col') BJCP Category
									th(scope='col') Category Name
									th(scope='col') Session Date
							tbody
								if (scoresheets)
									each sheet in scoresheets
										if (!sheet.scoresheet_submitted)
											tr
												th(scope='row') 
													a.pr-3(href='')
														img(src='../images/deleteIcon.png' style='height:24px;width:24px')
													a(href='#' style='display:inline;' onclick=`loadScoresheet('${sheet._id}')`) #{sheet.entry_number}
													//- a(href='/scoresheet/'+sheet._id style='display:inline;') #{sheet.entry_number}
												td 
													a(href='') #{sheet.category}#{sheet.sub}
												td 
													a(href='') #{sheet.subcategory}
												td
													if sheet.session_date
														a(href='') #{sheet.session_date.toString().slice(0,16).slice(4)}


	script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
	script(src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js')
	script(src='/javascripts/my_datatables.js')

	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css')
	link(rel='stylesheet', href='https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css')

	script.
		function downloadPDF(scoresheetId, scoresheetEntryNumber) {
			var a = document.createElement('a');
			a.href = '/scoresheet/pdf/'+scoresheetId;
			a.setAttribute('download', scoresheetEntryNumber);
			a.click();
			console.log(a)
			return false;
		}

		function loadScoresheet(scoresheetId) {
			var form = document.createElement('form');
			form.method = 'post';
			form.action = '/scoresheet/edit' ;
			var hiddenField = document.createElement('input');
			hiddenField.type = 'hidden';
			hiddenField.name = 'scoresheetId';
			hiddenField.value = scoresheetId;
			form.appendChild(hiddenField);
			document.body.appendChild(form);
			console.log(form);
			form.submit();
			return false;
			
		}