extends layout

block content
  .container.mt-5(style="width: 450px;")
    form.form-signin(role="form", action="/login", method="post")
      h2.form-signin-heading Please sign in
      label.sr-only(for="inputEmail")
      input#inputEmail.form-control(
        type="text",
        name="email",
        placeholder="Email Address",
        required,
        autofocus
      )
      input#inputPassword.form-control(
        type="password",
        name="password",
        placeholder="Password"
      )
      .mt-3(width="100%")
        button.btn.btn-lg.btn-primary(type="submit", style="width: 60%;") LOGIN
        a.btn.btn-lg.btn-secondary(
          type="button",
          href="/forgotpassword",
          style="width: 40%;"
        ) Forgot Password
