extends layout

block content
  .container.d-flex.justify-content-center
    form.form-signin(
      role="form",
      action="/register",
      method="post",
      style="max-width: 300px;"
    )
      h2.form-signin-heading Sign Up here
      input.form-control(
        type="text",
        name="firstname",
        placeholder="First Name",
        value=typeof fData === 'undefined' ? '' : fData.firstname
      )
      input.form-control(
        type="text",
        name="lastname",
        placeholder="Last Name",
        value=typeof fData === 'undefined' ? '' : fData.lastname
      )
      input.form-control(
        type="text",
        name="email",
        placeholder="Email Address",
        value=typeof fData === 'undefined' ? '' : fData.email
      )
      input.form-control(
        type="password",
        name="password",
        placeholder="Password"
      )
      input.form-control(
        type="password",
        name="passwordC",
        placeholder="Confirm Password"
      )
      sub (The following is optional but REQUIRED if judging)
      input.form-control(
        type="text",
        name="bjcp_id",
        placeholder="BJCP ID",
        value=typeof fData === 'undefined' ? '' : fData.bjcp_id
      )
      select.form-control(
        type="text",
        name="bjcp_rank",
        placeholder="BJCP Rank",
        value=typeof fData === 'undefined' ? 'N/A' : fData.bjcp_rank
      )
        option(value=null, selected) N/A
        option(value="Recognized") BJCP Recognized
        option(value="Certified") BJCP Certified
        option(value="National") BJCP National
        option(value="Master") BJCP Master
        option(value="GrandMaster") BJCP Grand Master
        option(value="Apprentice") BJCP Apprentice
        option(value="Affiliated") BJCP Affiliated
      select.form-control(
        type="text",
        name="cicerone_rank",
        placeholder="Cicerone Rank",
        value=typeof fData === 'undefined' ? 'N/A' : fData.cicerone_rank
      )
        option(value=null, selected) N/A
        option(value="level1") Level 1 - Certified Beer Server
        option(value="level2") Level 2 - Certified Cicerone
        option(value="level3") Level 3 - Advanced Cicerone
        option(value="level4") Level 4 - Master Cicerone
      input.form-control(
        type="text",
        name="pro_brewer_brewery",
        placeholder="Pro Brewer - Brewery",
        value=typeof fData === 'undefined' ? '' : fData.pro_brewer_brewery
      )
      input.form-control(
        type="text",
        name="industry_description",
        placeholder="Industry Description",
        value=typeof fData === 'undefined' ? '' : fData.industry_description
      )
      input.form-control(
        type="text",
        name="judging_years",
        placeholder="Judging Years",
        value=typeof fData === 'undefined' ? '' : fData.judging_years
      )
      .form-check.mb-3
        input#allow_automated_email.form-check-input(
          type="checkbox",
          name="allow_automated_email",
          value="true",
          checked
        )
        label.form-check-label(for="allow_automated_email") Allow email communication
        small.form-text.text-muted.mt-0 For competition updates and information. We will <strong>never</strong> send marketing or advertising emails.

      button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign Up
