extends layout

block content
  .container.d-flex.justify-content-center.mt-5(style="width: 450px;")
    form(
      role="form",
      action="/resetpassword",
      method="post",
      style="width: 450px;"
    )
      h2.form-signin-heading Reset Password
      input(name="passwordResetKey", value=passwordResetKey, hidden)
      input.form-control(
        type="password",
        name="password1",
        placeholder="New Password"
      )
      input.form-control(
        type="password",
        name="password2",
        placeholder="Confirm New Password"
      )
      button.btn.btn-lg.btn-primary.btn-block(type="submit") Submit
