extends layout

block content
  form#newScoresheet(role="form", action="/scoresheet/update", method="post")
    input#author(type="text", name="author", value=user._id, hidden)
    input#id(type="text", name="id", hidden, value=fingerprint)
    input#scoresheet_submitted(
      type="text",
      value="0",
      name="scoresheet_submitted",
      hidden
    )
    input#flight_key(type="text", name="flight_key", hidden, value=flightId)
    .container
      .card
        .card-header
          .row
            .col-md
              h4.card-title BJCP Digital Soresheet
              sub.form-text.mb-2.text-subdued Please fill this form to the most comprehensive degree possible.
            .col-md
              .card-deck
                .card.border-dark.mb-3.mx-1
                  .card-header.px-0.py-0
                    p.small.mb-0.text-center Place
                  .card-body.text-dark.px-3.py-1.text-center
                    select#place.form-control(name="place")
                      option(value=-1, selected) Select...
                      option(value=1) 1st
                      option(value=2) 2nd
                      option(value=3) 3rd
                .card.border-dark.mb-3.mx-1
                  .card-header.px-0.py-0
                    p.small.mb-0.text-center MiniBOS
                  .card-body.text-dark.px-0.py-1.text-center
                    .btn-group-toggle(data-toggle="buttons")
                      label.btn.btn-outline-success.btn-sm(
                        class=Boolean(scoresheet ? scoresheet.mini_boss_advanced : false) ? 'active' : ''
                      ) Advance
                        input#mini_boss_advanced(
                          type="checkbox",
                          autocomplete="off",
                          name="mini_boss_advanced"
                        )
                .card.border-dark.mb-3.mx-1
                  .card-header.px-0.py-0
                    p.small.mb-0.text-center Consensus
                  .card-body.text-dark.my-0.px-0.py-0.text-center
                    input#consensus_score.form-control.form-control-lg.text-center.my-0.p-0.ml-auto.mr-auto.remove-internal-padding(
                      type="number",
                      name="consensus_score",
                      value="0",
                      min="0",
                      max="50",
                      style="width:50%;height:90%;line-height:90%;"
                    )
                .card.border-dark.mb-3.mx-1
                  .card-header.px-0.py-0
                    p.small.mb-0.text-center Total Score
                  .card-body.text-dark.px-0.py-1.text-center
                    h4#judge_total.my-0(name="judge_total") 0

            .col-md-auto.mt-auto.mb-auto
              button#submitBtn.btn.btn-primary(
                type="button",
                name="btn",
                onClick="goHome()"
              ) Back to My Flights
          ul#scoresheet-list.nav.nav-tabs.card-header-tabs(role="tablist")
            li.nav-item
              a#information-tab.nav-link.active.px-2(
                data-toggle="tab",
                href="#information",
                role="tab",
                aria-controls="information",
                aria-selected="true"
              ) Information
            li.nav-item
              a#aroma-tab.nav-link.px-2(
                data-toggle="tab",
                href="#aroma",
                role="tab",
                aria-controls="aroma",
                aria-selected="false"
              ) Aroma
            li.nav-item
              a#appearance-tab.nav-link.px-2(
                data-toggle="tab",
                href="#appearance",
                role="tab",
                aria-controls="appearance",
                aria-selected="false"
              ) Appearance
            li.nav-item
              a#flavor-tab.nav-link.px-2(
                data-toggle="tab",
                href="#flavor",
                role="tab",
                aria-controls="flavor",
                aria-selected="false"
              ) Flavor
            li.nav-item
              a#mouthfeel-tab.nav-link.px-2(
                data-toggle="tab",
                href="#mouthfeel",
                role="tab",
                aria-controls="mouthfeel",
                aria-selected="false"
              ) Mouthfeel
            li.nav-item
              a#descriptors-tab.nav-link.px-2(
                data-toggle="tab",
                href="#descriptors",
                role="tab",
                aria-controls="descriptors",
                aria-selected="false"
              ) Descriptors
            li.nav-item
              a#summary-tab.nav-link.px-2(
                data-toggle="tab",
                href="#summary",
                role="tab",
                aria-controls="summary",
                aria-selected="false"
              ) Summary
        .card-body
          .tab-content
            #information.tab-pane.active(
              role="tabpanel",
              name="information",
              aria-labelledby="information-tab"
            )
              .form-group
                h4 Judge Information
                .form-row.py-1
                  .form-group.col-sm-2.col-form-label Judge
                    label(for="judge_name")
                  .form-group.col-sm-4
                    input#judge_name.form-control(
                      type="text",
                      value=user.firstname + ' ' + user.lastname,
                      disabled
                    )
                  .form-group.col-sm-1.col-form-label BJCP ID
                    label(for="bjcp_id")
                  .form-group.col-sm-2
                    input#bjcp_id.form-control(
                      type="text",
                      value=user.bjcp_id,
                      readonly
                    )
                  .form-group.col-sm-1.col-form-label Rank
                    label(for="bjcp_rank")
                  .form-group.col-sm-2
                    input#bjcp_rank.form-control(
                      type="text",
                      value=user.bjcp_rank,
                      readonly
                    )
                .form-row.py-1
                  .form-group.col-sm-2.col-form-label Session Date
                    label(for="session_date")
                  .form-group.col-sm-4
                    input#session_date.form-control(
                      type="date",
                      name="session_date",
                      value=sess_date
                    )
                  .form-group.col-sm-2.col-form-label Session Location
                    label(for="session_location")
                  .form-group.col-sm-4
                    input#session_location.form-control(
                      type="text",
                      name="session_location",
                      value=session_location,
                      disabled
                    )

              .form-group
                h4 Beer Information
                .form-row.py-1
                  .form-group.col-sm-2.col-form-label
                    label(for="entry_number") Entry Number
                  .form-group.col-sm-4
                    input#entry_number.form-control.is-invalid.vCheck(
                      type="text",
                      placeholder="Entry Number",
                      name="entry_number",
                      maxlength="6"
                    )
                    small#entry_number_help.form-text.text-muted Enter <span style="font-family: Courier, monospace;">NONE</span> for non-competition judging sessions
                    .invalid-feedback Missing or duplicate value.
                  .form-group.col-sm-3.col-form-label.text-center.pl-4
                    label(for="flight_position") Flight Position
                  .form-group.col-sm-1.pr-0
                    input#flight_position.form-control(
                      type="number",
                      name="flight_position",
                      min="0",
                      value=flight_position
                    )
                  .form-group.col-sm-1.col-form-label.text-center
                    label(for="flight_total") of
                  .form-group.col-sm-1.pl-0
                    input#flight_total.form-control(
                      type="number",
                      name="flight_total",
                      min="0",
                      value=flight_total
                    )
              .form-group
                .form-row.py-1
                  .form-group.col-sm-2.col-form-label
                    label(for="category") BJCP Style
                  .form-group.col-sm-2
                    select#category.form-control(
                      name="category",
                      onchange="update_tooltips()"
                    )
                      option(hidden, disabled, selected, value)
                      each val in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34]
                        option= val
                  .form-group.col-sm-2
                    select#sub.form-control(
                      name="sub",
                      onchange="update_tooltips()"
                    )
                      option(hidden, disabled, selected, value)
                      each val in ['A','B','C','D','E','F']
                        option= val
                  .form-group.col
                    input#subcategory.form-control(
                      type="text",
                      name="subcategory",
                      placeholder="Subcategory Name (please spell out)"
                    )
              .form-group
                .form-row.py-1
                  .form-group.col-3.col-form-label
                    .form-check
                      input#special_ingredients_check.form-check-input(
                        type="checkbox",
                        name="special_ingredients_check"
                      )
                      label.form-check-label(for="special_ingredients_check") Special Ingredients
                  .form-group.col-9
                    input#special_ingredients.form-control(
                      type="text",
                      name="special_ingredients",
                      placeholder="List Special Ingredients"
                    )
              .form-group
                .form-row.py-1
                  .form-group.col-3.col-form-label
                    .form-check
                      input#bottle_inspection_check.form-check-input(
                        type="checkbox",
                        name="bottle_inspection_check"
                      )
                      label.form-check-label(for="bottle_inspection_check") Bottle Acceptable
                  .form-group.col-9
                    input#bottle_inspection_comment.form-control(
                      type="text",
                      name="bottle_inspection_comment",
                      placeholder="Bottle Comments"
                    )
            #aroma.tab-pane(role="tabpanel", aria-labelledby="aroma-tab")
              .form-group
                .row
                  .col-sm-9
                    h4 Malt Aroma
                  .col-sm-3.text-right
                    a#bjcp_aroma.badge.badge-light.badge-pill(
                      tabindex="0",
                      role="button",
                      data-toggle="popover",
                      data-trigger="focus",
                      title="BJCP Aroma Guidelines",
                      data-content="Please Select a BJCP Category and Subcategory"
                    ) Style Guidelines
                .form-row.py-1
                  .form-group.col-sm-6.col-form-label.px-4
                    input#aroma_malt.data-slider(
                      style="width:100%",
                      name="aroma_malt",
                      type="text",
                      data-slider-ticks="[0, 10, 50, 100]",
                      data-slider-ticks-snap-bounds="30",
                      data-slider-ticks-labels="['None','Low','Med','High']"
                    )
                    //- button(type='button' class='btn btn-danger btn-small' data-toggle='button' aria-pressed='false' autocomplete='off') Inappropriate
                    //- .form-group.col-sm-3.col-form-label
                    .form-check.pt-4
                      input#aroma_malt_inappropriate.form-check-input(
                        type="checkbox",
                        name="aroma_malt_inappropriate"
                      )
                      label.form-check-label(for="aroma_malt_inappropriate") Inappropriate
                  .form-group.col-sm-6
                    textarea#aroma_malt_comment.form-control(
                      rows="5",
                      type="text",
                      name="aroma_malt_comment",
                      placeholder="Comments"
                    )
              .form-group
                h4 Hops Aroma
                .form-row.py-1
                  .form-group.col-sm-6.col-form-label.px-4
                    input#aroma_hops.data-slider(
                      style="width:100%",
                      name="aroma_hops",
                      type="text",
                      data-slider-ticks="[0, 10, 50, 100]",
                      data-slider-ticks-snap-bounds="30",
                      data-slider-ticks-labels="['None','Low','Med','High']"
                    )
                    //- button(type='button' class='btn btn-danger btn-small' data-toggle='button' aria-pressed='false' autocomplete='off') Inappropriate
                    //- .form-group.col-sm-3.col-form-label
                    .form-check.pt-4
                      input#aroma_hops_inappropriate.form-check-input(
                        type="checkbox",
                        name="aroma_hops_inappropriate"
                      )
                      label.form-check-label(for="aroma_hops_inappropriate") Inappropriate
                  .form-group.col-sm-6
                    textarea#aroma_hops_comment.form-control(
                      rows="5",
                      type="text",
                      name="aroma_hops_comment",
                      placeholder="Comments"
                    )
              .form-group
                h4 Fermentation Aroma
                .form-row.py-1
                  .form-group.col-sm-6.col-form-label.px-4
                    input#aroma_fermentation.data-slider(
                      style="width:100%",
                      name="aroma_fermentation",
                      type="text",
                      data-slider-ticks="[0, 10, 50, 100]",
                      data-slider-ticks-snap-bounds="30",
                      data-slider-ticks-labels="['None','Low','Med','High']"
                    )
                    //- button(type='button' class='btn btn-danger btn-small' data-toggle='button' aria-pressed='false' autocomplete='off') Inappropriate
                    //- .form-group.col-sm-3.col-form-label
                    .form-check.pt-4
                      input#aroma_fermentation_inappropriate.form-check-input(
                        type="checkbox",
                        name="aroma_fermentation_inappropriate"
                      )
                      label.form-check-label(
                        for="aroma_fermentation_inappropriate"
                      ) Inappropriate
                  .form-group.col-sm-6
                    textarea#aroma_fermentation_comment.form-control(
                      rows="5",
                      type="text",
                      name="aroma_fermentation_comment",
                      placeholder="Comments"
                    )
              .form-group
                .row
                  .col
                    h4 Summary Aroma Comments
                      textarea#aroma_other_comment.form-control(
                        rows="5",
                        type="text",
                        name="aroma_other_comment",
                        placeholder="Comments"
                      )
                  .col.col-md-auto.d-flex.align-items-center.pl-4
                    .card.border-dark(style="width:100px")
                      .card-header.py-1
                        p.small.mb-0.text-center Aroma Score
                      .card-body.text-dark.px-0.py-0.text-center
                        input.aroma_score.section-score.form-control.form-control-lg.text-center.mb-0(
                          type="number",
                          name="aroma_score",
                          value=0,
                          min=0,
                          max=12
                        )
                        p.small.d-flex.align-items-end.flex-row-reverse.my-0.pb-0 /12
            #appearance.tab-pane(
              role="tabpanel",
              aria-labelledby="appearance-tab"
            )
              .form-group
                .row
                  .col-sm-9
                    h4 Color
                  .col-sm-3.text-right
                    a#bjcp_appearance.badge.badge-light.badge-pill(
                      tabindex="0",
                      role="button",
                      data-toggle="popover",
                      data-trigger="focus",
                      title="BJCP Appearance Guidelines",
                      data-content="Please Select a BJCP Category and Subcategory"
                    ) Style Guidelines
                .form-row.py-1
                  .form-group.col-sm-6.col-form-label.px-4
                    input#appearance_color.data-slider(
                      style="width:100%",
                      name="appearance_color",
                      type="text",
                      data-slider-ticks="[0, 10, 50, 100]",
                      data-slider-ticks-snap-bounds="30",
                      data-slider-ticks-labels="['None','Low','Med','High']"
                    )
                    //- button(type='button' class='btn btn-danger btn-small' data-toggle='button' aria-pressed='false' autocomplete='off') Inappropriate
                    //- .form-group.col-sm-3.col-form-label
                    .form-check.pt-4
                      input#appearance_color_inappropriate.form-check-input(
                        type="checkbox",
                        name="appearance_color_inappropriate"
                      )
                      label.form-check-label(
                        for="appearance_color_inappropriate"
                      ) Inappropriate
                  .form-group.col-sm-6
                    textarea#appearance_color_other.form-control(
                      rows="5",
                      type="text",
                      name="appearance_color_other",
                      placeholder="Comments"
                    )
              .form-group
                h4 Clarity
                .form-row.py-1
                  .form-group.col-sm-6.col-form-label.px-4
                    input#appearance_clarity.data-slider(
                      style="width:100%",
                      name="appearance_clarity",
                      type="text",
                      data-slider-ticks="[0, 10, 50, 100]",
                      data-slider-ticks-snap-bounds="30",
                      data-slider-ticks-labels="['None','Low','Med','High']"
                    )
                    //- button(type='button' class='btn btn-danger btn-small' data-toggle='button' aria-pressed='false' autocomplete='off') Inappropriate
                    //- .form-group.col-sm-3.col-form-label
                    .form-check.pt-4
                      input#appearance_clarity_inappropriate.form-check-input(
                        type="checkbox",
                        name="appearance_clarity_inappropriate"
                      )
                      label.form-check-label(
                        for="appearance_clarity_inappropriate"
                      ) Inappropriate
                  .form-group.col-sm-6
                    textarea#appearance_clarity_other.form-control(
                      rows="5",
                      type="text",
                      name="appearance_clarity_other",
                      placeholder="Comments"
                    )
              .form-group
                h4 Head
                .form-row.py-1
                  .form-group.col-sm-6.col-form-label.px-4
                    h6 Color
                    input#appearance_head.data-slider(
                      style="width:100%",
                      name="appearance_head",
                      type="text",
                      data-slider-ticks="[0, 10, 50, 100]",
                      data-slider-ticks-snap-bounds="30",
                      data-slider-ticks-labels="['None','Low','Med','High']"
                    )
                    //- button(type='button' class='btn btn-danger btn-small' data-toggle='button' aria-pressed='false' autocomplete='off') Inappropriate
                    //- .form-group.col-sm-3.col-form-label
                    .form-check.pt-2.pb-4
                      input#appearance_head_inappropriate.form-check-input(
                        type="checkbox",
                        name="appearance_head_inappropriate"
                      )
                      label.form-check-label(
                        for="appearance_head_inappropriate"
                      ) Inappropriate
                    h6 Retention
                    input#appearance_retention.data-slider(
                      style="width:100%",
                      name="appearance_retention",
                      type="text",
                      data-slider-ticks="[0, 10, 50, 100]",
                      data-slider-ticks-snap-bounds="30",
                      data-slider-ticks-labels="['None','Low','Med','High']"
                    )
                    //- button(type='button' class='btn btn-danger btn-small' data-toggle='button' aria-pressed='false' autocomplete='off') Inappropriate
                    //- .form-group.col-sm-3.col-form-label
                    .form-check.py-2
                      input#appearance_retention_inappropriate.form-check-input(
                        type="checkbox",
                        name="appearance_retention_inappropriate"
                      )
                      label.form-check-label(
                        for="appearance_retention_inappropriate"
                      ) Inappropriate
                  .form-group.col-sm-6
                    textarea#appearance_texture_comment.form-control(
                      rows="10",
                      type="text",
                      name="appearance_texture_comment",
                      placeholder="Comments"
                    )
              .form-group
                .row
                  .col
                    h4 Summary Appearance Comments
                      textarea#appearance_other_comment.form-control(
                        rows="5",
                        type="text",
                        name="appearance_other_comment",
                        placeholder="Comments"
                      )
                  .col.col-md-auto.d-flex.align-items-center.pl-4
                    .card.border-dark(style="width:100px")
                      .card-header.py-1.px-0
                        p.small.mb-0.text-center Appearance Score
                      .card-body.text-dark.px-0.py-0.text-center
                        input.appearance_score.section-score.form-control.form-control-lg.text-center.mb-0(
                          type="number",
                          name="appearance_score",
                          value="0",
                          min="0",
                          max="3"
                        )
                        p.small.d-flex.align-items-end.flex-row-reverse.my-0.pb-0 /3
            #flavor.tab-pane(role="tabpanel", aria-labelledby="flavor-tab")
              .form-group
                .row
                  .col-sm-9
                    h4 Malt Flavor
                  .col-sm-3.text-right
                    a#bjcp_flavor.badge.badge-light.badge-pill(
                      tabindex="0",
                      role="button",
                      data-toggle="popover",
                      data-trigger="focus",
                      title="BJCP Flavor Guidelines",
                      data-content="Please Select a BJCP Category and Subcategory"
                    ) Style Guidelines
                .form-row.py-1
                  .form-group.col-sm-6.col-form-label.px-4
                    input#flavor_malt.data-slider(
                      style="width:100%",
                      name="flavor_malt",
                      type="text",
                      data-slider-ticks="[0, 10, 50, 100]",
                      data-slider-ticks-snap-bounds="30",
                      data-slider-ticks-labels="['None','Low','Med','High']"
                    )
                    //- button(type='button' class='btn btn-danger btn-small' data-toggle='button' aria-pressed='false' autocomplete='off') Inappropriate
                    //- .form-group.col-sm-3.col-form-label
                    .form-check.pt-4
                      input#flavor_malt_inappropriate.form-check-input(
                        type="checkbox",
                        name="flavor_malt_inappropriate"
                      )
                      label.form-check-label(for="flavor_malt_inappropriate") Inappropriate
                  .form-group.col-sm-6
                    textarea#flavor_malt_comment.form-control(
                      rows="5",
                      type="text",
                      name="flavor_malt_comment",
                      placeholder="Comments"
                    )
              .form-group
                h4 Hop Flavor
                .form-row.py-1
                  .form-group.col-sm-6.col-form-label.px-4
                    input#flavor_hops.data-slider(
                      style="width:100%",
                      name="flavor_hops",
                      type="text",
                      data-slider-ticks="[0, 10, 50, 100]",
                      data-slider-ticks-snap-bounds="30",
                      data-slider-ticks-labels="['None','Low','Med','High']"
                    )
                    //- button(type='button' class='btn btn-danger btn-small' data-toggle='button' aria-pressed='false' autocomplete='off') Inappropriate
                    //- .form-group.col-sm-3.col-form-label
                    .form-check.pt-4
                      input#flavor_hops_inappropriate.form-check-input(
                        type="checkbox",
                        name="flavor_hops_inappropriate"
                      )
                      label.form-check-label(for="flavor_hops_inappropriate") Inappropriate
                  .form-group.col-sm-6
                    textarea#flavor_hops_comment.form-control(
                      rows="5",
                      type="text",
                      name="flavor_hops_comment",
                      placeholder="Comments"
                    )
              .form-group
                h4 Bitterness
                .form-row.py-1
                  .form-group.col-sm-6.col-form-label.px-4
                    input#flavor_bitterness.data-slider(
                      style="width:100%",
                      name="flavor_bitterness",
                      type="text",
                      data-slider-ticks="[0, 10, 50, 100]",
                      data-slider-ticks-snap-bounds="30",
                      data-slider-ticks-labels="['None','Low','Med','High']"
                    )
                    //- button(type='button' class='btn btn-danger btn-small' data-toggle='button' aria-pressed='false' autocomplete='off') Inappropriate
                    //- .form-group.col-sm-3.col-form-label
                    .form-check.pt-4
                      input#flavor_bitterness_inappropriate.form-check-input(
                        type="checkbox",
                        name="flavor_bitterness_inappropriate"
                      )
                      label.form-check-label(
                        for="flavor_bitterness_inappropriate"
                      ) Inappropriate
                  .form-group.col-sm-6
                    textarea#flavor_bitterness_comment.form-control(
                      rows="5",
                      type="text",
                      name="flavor_bitterness_comment",
                      placeholder="Comments"
                    )
              .form-group
                h4 Fermentation Flavors
                .form-row.py-1
                  .form-group.col-sm-6.col-form-label.px-4
                    input#flavor_fermentation.data-slider(
                      style="width:100%",
                      name="flavor_fermentation",
                      type="text",
                      data-slider-ticks="[0, 10, 50, 100]",
                      data-slider-ticks-snap-bounds="30",
                      data-slider-ticks-labels="['None','Low','Med','High']"
                    )
                    //- button(type='button' class='btn btn-danger btn-small' data-toggle='button' aria-pressed='false' autocomplete='off') Inappropriate
                    //- .form-group.col-sm-3.col-form-label
                    .form-check.pt-4
                      input#flavor_fermentation_inappropriate.form-check-input(
                        type="checkbox",
                        name="flavor_fermentation_inappropriate"
                      )
                      label.form-check-label(
                        for="flavor_fermentation_inappropriate"
                      ) Inappropriate
                  .form-group.col-sm-6
                    textarea#flavor_fermentation_comment.form-control(
                      rows="5",
                      type="text",
                      name="flavor_fermentation_comment",
                      placeholder="Comments"
                    )
              .form-group
                h4 Flavor Balance
                .form-row.py-1
                  .form-group.col-sm-6.col-form-label.px-4
                    input#flavor_balance.data-slider(
                      style="width:100%",
                      name="flavor_balance",
                      type="text",
                      data-slider-ticks="[0, 10, 50, 100]",
                      data-slider-ticks-snap-bounds="30",
                      data-slider-ticks-labels="['None','Low','Med','High']"
                    )
                    //- button(type='button' class='btn btn-danger btn-small' data-toggle='button' aria-pressed='false' autocomplete='off') Inappropriate
                    //- .form-group.col-sm-3.col-form-label
                    .form-check.pt-4
                      input#flavor_balance_inappropriate.form-check-input(
                        type="checkbox",
                        name="flavor_balance_inappropriate"
                      )
                      label.form-check-label(
                        for="flavor_balance_inappropriate"
                      ) Inappropriate
                  .form-group.col-sm-6
                    textarea#flavor_balance_comment.form-control(
                      rows="5",
                      type="text",
                      name="flavor_balance_comment",
                      placeholder="Comments"
                    )
              .form-group
                h4 Finish / Aftertaste
                .form-row.py-1
                  .form-group.col-sm-6.col-form-label.px-4
                    input#flavor_finish_aftertaste.data-slider(
                      style="width:100%",
                      name="flavor_finish_aftertaste",
                      type="text",
                      data-slider-ticks="[0, 10, 50, 100]",
                      data-slider-ticks-snap-bounds="30",
                      data-slider-ticks-labels="['None','Low','Med','High']"
                    )
                    //- button(type='button' class='btn btn-danger btn-small' data-toggle='button' aria-pressed='false' autocomplete='off') Inappropriate
                    //- .form-group.col-sm-3.col-form-label
                    .form-check.pt-4
                      input#flavor_finish_aftertaste_inappropriate.form-check-input(
                        type="checkbox",
                        name="flavor_finish_aftertaste_inappropriate"
                      )
                      label.form-check-label(
                        for="flavor_finish_aftertaste_inappropriate"
                      ) Inappropriate
                  .form-group.col-sm-6
                    textarea#flavor_finish_aftertaste_comment.form-control(
                      rows="5",
                      type="text",
                      name="flavor_finish_aftertaste_comment",
                      placeholder="Comments"
                    )
              .form-group
                .row
                  .col
                    h4 Summary Flavor Comments
                      textarea#flavor_other_comment.form-control(
                        rows="5",
                        type="text",
                        name="flavor_other_comment",
                        placeholder="Comments"
                      )
                  .col.col-md-auto.d-flex.align-items-center.pl-4
                    .card.border-dark(style="width:100px")
                      .card-header.py-1.px-0
                        p.small.mb-0.text-center Flavor Score
                      .card-body.text-dark.px-0.py-0.text-center
                        input.flavor_score.section-score.form-control.form-control-lg.text-center.mb-0(
                          type="number",
                          name="flavor_score",
                          value="0",
                          min="0",
                          max="20"
                        )
                        p.small.d-flex.align-items-end.flex-row-reverse.my-0.pb-0 /20
            #mouthfeel.tab-pane(
              role="tabpanel",
              aria-labelledby="mouthfeel-tab"
            )
              .form-group.px-5
                .row
                  .col-sm-9
                    h4 Body
                  .col-sm-3.text-right
                    a#bjcp_mouthfeel.badge.badge-light.badge-pill(
                      tabindex="0",
                      role="button",
                      data-toggle="popover",
                      data-trigger="focus",
                      title="BJCP Mouthfeel Guidelines",
                      data-content="Please Select a BJCP Category and Subcategory"
                    ) Style Guidelines
                input#mouthfeel_body.data-slider(
                  style="width:100%",
                  name="mouthfeel_body",
                  type="text",
                  data-slider-ticks="[0, 10, 50, 100]",
                  data-slider-ticks-snap-bounds="30",
                  data-slider-ticks-labels="['None','Low','Med','High']"
                )
                //- button(type='button' class='btn btn-danger btn-small' data-toggle='button' aria-pressed='false' autocomplete='off') Inappropriate
                //- .form-group.col-sm-3.col-form-label
                .form-check.pt-4
                  input#mouthfeel_body_inappropriate.form-check-input(
                    type="checkbox",
                    name="mouthfeel_body_inappropriate"
                  )
                  label.form-check-label(for="mouthfeel_body_inappropriate") Inappropriate
              .form-group.px-5
                h4 Carbonation
                input#mouthfeel_carbonation.data-slider(
                  style="width:100%",
                  name="mouthfeel_carbonation",
                  type="text",
                  data-slider-ticks="[0, 10, 50, 100]",
                  data-slider-ticks-snap-bounds="30",
                  data-slider-ticks-labels="['None','Low','Med','High']"
                )
                //- button(type='button' class='btn btn-danger btn-small' data-toggle='button' aria-pressed='false' autocomplete='off') Inappropriate
                //- .form-group.col-sm-3.col-form-label
                .form-check.pt-4
                  input#mouthfeel_carbonation_inappropriate.form-check-input(
                    type="checkbox",
                    name="mouthfeel_carbonation_inappropriate"
                  )
                  label.form-check-label(
                    for="mouthfeel_carbonation_inappropriate"
                  ) Inappropriate
              .form-group.px-5
                h4 Warmth
                input#mouthfeel_warmth.data-slider(
                  style="width:100%",
                  name="mouthfeel_warmth",
                  type="text",
                  data-slider-ticks="[0, 10, 50, 100]",
                  data-slider-ticks-snap-bounds="30",
                  data-slider-ticks-labels="['None','Low','Med','High']"
                )
                //- button(type='button' class='btn btn-danger btn-small' data-toggle='button' aria-pressed='false' autocomplete='off') Inappropriate
                //- .form-group.col-sm-3.col-form-label
                .form-check.pt-4
                  input#mouthfeel_warmth_inappropriate.form-check-input(
                    type="checkbox",
                    name="mouthfeel_warmth_inappropriate"
                  )
                  label.form-check-label(for="mouthfeel_warmth_inappropriate") Inappropriate
              .form-group.px-5
                h4 Creaminess
                input#mouthfeel_creaminess.data-slider(
                  style="width:100%",
                  name="mouthfeel_creaminess",
                  type="text",
                  data-slider-ticks="[0, 10, 50, 100]",
                  data-slider-ticks-snap-bounds="30",
                  data-slider-ticks-labels="['None','Low','Med','High']"
                )
                //- button(type='button' class='btn btn-danger btn-small' data-toggle='button' aria-pressed='false' autocomplete='off') Inappropriate
                //- .form-group.col-sm-3.col-form-label
                .form-check.pt-4
                  input#mouthfeel_creaminess_inappropriate.form-check-input(
                    type="checkbox",
                    name="mouthfeel_creaminess_inappropriate"
                  )
                  label.form-check-label(
                    for="mouthfeel_creaminess_inappropriate"
                  ) Inappropriate
              .form-group.px-5
                h4 Astringency
                input#mouthfeel_astringency.data-slider(
                  style="width:100%",
                  name="mouthfeel_astringency",
                  type="text",
                  data-slider-ticks="[0, 10, 50, 100]",
                  data-slider-ticks-snap-bounds="30",
                  data-slider-ticks-labels="['None','Low','Med','High']"
                )
                //- button(type='button' class='btn btn-danger btn-small' data-toggle='button' aria-pressed='false' autocomplete='off') Inappropriate
                //- .form-group.col-sm-3.col-form-label
                .form-check.pt-4
                  input#mouthfeel_astringency_inappropriate.form-check-input(
                    type="checkbox",
                    name="mouthfeel_astringency_inappropriate"
                  )
                  label.form-check-label(
                    for="mouthfeel_astringency_inappropriate"
                  ) Inappropriate
              .form-group
                .row
                  .col
                    h4 Summary Mouthfeel Comments
                      textarea#mouthfeel_other_comment.form-control(
                        rows="5",
                        type="text",
                        name="mouthfeel_other_comment",
                        placeholder="Comments"
                      )
                  .col.col-md-auto.d-flex.align-items-center.pl-4
                    .card.border-dark(style="width:100px")
                      .card-header.py-1.px-0
                        p.small.mb-0.text-center Mouthfeel Score
                      .card-body.text-dark.px-0.py-0.text-center
                        input#mouthfeel_score.section-score.form-control.form-control-lg.text-center.mb-0(
                          type="number",
                          name="mouthfeel_score",
                          value="0",
                          min="0",
                          max="5"
                        )
                        p.small.d-flex.align-items-end.flex-row-reverse.my-0.pb-0 /5
            #descriptors.tab-pane(
              role="tabpanel",
              aria-labelledby="descriptors-tab"
            )
              .list-group
                input#descriptor_acetaldehyde(
                  type="checkbox",
                  name="descriptor_acetaldehyde"
                )
                label.list-group-item.d-flex.justify-content-between.align-items-center(
                  for="descriptor_acetaldehyde"
                ) Acetaldehyde
                  //- a.badge.badge-light.badge-pill(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Acetaldehyde" data-content="Green apple-like aroma and flavor") i
                  a.badge.badge-light.badge-pill(
                    tabindex="0",
                    role="button",
                    data-toggle="popover",
                    data-trigger="focus",
                    title="Acetaldehyde",
                    data-content="Green apple-like aroma and flavor"
                  ) i
                input#descriptor_alcoholic(
                  type="checkbox",
                  name="descriptor_alcoholic"
                )
                label.list-group-item.d-flex.justify-content-between.align-items-center(
                  for="descriptor_alcoholic"
                ) Alcoholic
                  a.badge.badge-light.badge-pill(
                    tabindex="0",
                    role="button",
                    data-toggle="popover",
                    data-trigger="focus",
                    title="Alcoholic",
                    data-content="The aroma, flavor, and warming effect of ethanol and higher alcohols. Sometimes described as hot."
                  ) i
                input#descriptor_astringent(
                  type="checkbox",
                  name="descriptor_astringent"
                )
                label.list-group-item.d-flex.justify-content-between.align-items-center(
                  for="descriptor_astringent"
                ) Astringent
                  a.badge.badge-light.badge-pill(
                    tabindex="0",
                    role="button",
                    data-toggle="popover",
                    data-trigger="focus",
                    title="Astringent",
                    data-content="Puckering, lingering harshness and/or dryness in the finish/aftertaste; harsh graininess; huskiness."
                  ) i
                input#descriptor_brettanomyces(
                  type="checkbox",
                  name="descriptor_brettanomyces"
                )
                label.list-group-item.d-flex.justify-content-between.align-items-center(
                  for="descriptor_brettanomyces"
                ) Brettanomyces
                  a.badge.badge-light.badge-pill(
                    tabindex="0",
                    role="button",
                    data-toggle="popover",
                    data-trigger="focus",
                    title="Brettanomyces",
                    data-content="Brettanomyces aromas and flavors may take the form of pleasant smoky, earthy, or barnyard character. Unpleasantly characteristics include Band-Aid, fetid, nail polish remover, or cheese"
                  ) i
                input#descriptor_diacetyl(
                  type="checkbox",
                  name="descriptor_diacetyl"
                )
                label.list-group-item.d-flex.justify-content-between.align-items-center(
                  for="descriptor_diacetyl"
                ) Diacetyl
                  a.badge.badge-light.badge-pill(
                    tabindex="0",
                    role="button",
                    data-toggle="popover",
                    data-trigger="focus",
                    title="Diacetyl",
                    data-content="Artificial butter, butterscotch, or toffee aroma and flavor. Sometimes perceived as a slickness on the tongue."
                  ) i
                input#descriptor_dms(type="checkbox", name="descriptor_dms")
                label.list-group-item.d-flex.justify-content-between.align-items-center(
                  for="descriptor_dms"
                ) DMS (Dimethyl Sulfide)
                  a.badge.badge-light.badge-pill(
                    tabindex="0",
                    role="button",
                    data-toggle="popover",
                    data-trigger="focus",
                    title="DMS (dimethyl sulfide)",
                    data-content="At low levels a sweet, cooked or canned corn-like aroma and flavor."
                  ) i
                input#descriptor_estery(
                  type="checkbox",
                  name="descriptor_estery"
                )
                label.list-group-item.d-flex.justify-content-between.align-items-center(
                  for="descriptor_estery"
                ) Estery
                  a.badge.badge-light.badge-pill(
                    tabindex="0",
                    role="button",
                    data-toggle="popover",
                    data-trigger="focus",
                    title="Estery",
                    data-content="Aroma and/or flavor of any ester (fruits, fruit flavorings, or roses)"
                  ) i
                input#descriptor_grassy(
                  type="checkbox",
                  name="descriptor_grassy"
                )
                label.list-group-item.d-flex.justify-content-between.align-items-center(
                  for="descriptor_grassy"
                ) Grassy
                  a.badge.badge-light.badge-pill(
                    tabindex="0",
                    role="button",
                    data-toggle="popover",
                    data-trigger="focus",
                    title="Grassy",
                    data-content="Aroma/flavor of fresh-cut grass or green leaves."
                  ) i
                input#descriptor_lightstruck(
                  type="checkbox",
                  name="descriptor_lightstruck"
                )
                label.list-group-item.d-flex.justify-content-between.align-items-center(
                  for="descriptor_lightstruck"
                ) Light-Struck
                  a.badge.badge-light.badge-pill(
                    tabindex="0",
                    role="button",
                    data-toggle="popover",
                    data-trigger="focus",
                    title="Light-Struck",
                    data-content="Similar to the aroma of a skunk."
                  ) i
                input#descriptor_metallic(
                  type="checkbox",
                  name="descriptor_metallic"
                )
                label.list-group-item.d-flex.justify-content-between.align-items-center(
                  for="descriptor_metallic"
                ) Metallic
                  a.badge.badge-light.badge-pill(
                    tabindex="0",
                    role="button",
                    data-toggle="popover",
                    data-trigger="focus",
                    title="Metallic",
                    data-content="Tinny, coiny, copper, iron, or blood-like flavor."
                  ) i
                input#descriptor_musty(
                  type="checkbox",
                  name="descriptor_musty"
                )
                label.list-group-item.d-flex.justify-content-between.align-items-center(
                  for="descriptor_musty"
                ) Musty
                  a.badge.badge-light.badge-pill(
                    tabindex="0",
                    role="button",
                    data-toggle="popover",
                    data-trigger="focus",
                    title="Musty",
                    data-content="Stale, musty, or moldy aromas/flavors."
                  ) i
                input#descriptor_oxidized(
                  type="checkbox",
                  name="descriptor_oxidized"
                )
                label.list-group-item.d-flex.justify-content-between.align-items-center(
                  for="descriptor_oxidized"
                ) Oxidized
                  a.badge.badge-light.badge-pill(
                    tabindex="0",
                    role="button",
                    data-toggle="popover",
                    data-trigger="focus",
                    title="Oxidized",
                    data-content="Any one or combination of stale, winy/vinous, cardboard, papery, or sherry-like aromas and flavors."
                  ) i
                input#descriptor_phenolic(
                  type="checkbox",
                  name="descriptor_phenolic"
                )
                label.list-group-item.d-flex.justify-content-between.align-items-center(
                  for="descriptor_phenolic"
                ) Phenolic
                  a.badge.badge-light.badge-pill(
                    tabindex="0",
                    role="button",
                    data-toggle="popover",
                    data-trigger="focus",
                    title="Phenolic",
                    data-content="Spicy (clove, pepper), smoky, plastic, plastic adhesive strip, and/or medicinal (chlorophenolic)."
                  ) i
                input#descriptor_solvent(
                  type="checkbox",
                  name="descriptor_solvent"
                )
                label.list-group-item.d-flex.justify-content-between.align-items-center(
                  for="descriptor_solvent"
                ) Solvent
                  a.badge.badge-light.badge-pill(
                    tabindex="0",
                    role="button",
                    data-toggle="popover",
                    data-trigger="focus",
                    title="Solvent",
                    data-content="Aromas and flavors of higher alcohols (fusel alcohols). Similar to acetone or lacquer thinner aromas."
                  ) i
                input#descriptor_smoky(
                  type="checkbox",
                  name="descriptor_smoky"
                )
                label.list-group-item.d-flex.justify-content-between.align-items-center(
                  for="descriptor_smoky"
                ) Smoky
                  a.badge.badge-light.badge-pill(
                    tabindex="0",
                    role="button",
                    data-toggle="popover",
                    data-trigger="focus",
                    title="Smoky",
                    data-content="Smoke characteristic"
                  ) i
                input#descriptor_sour(type="checkbox", name="descriptor_sour")
                label.list-group-item.d-flex.justify-content-between.align-items-center(
                  for="descriptor_sour"
                ) Sour/Acidic
                  a.badge.badge-light.badge-pill(
                    tabindex="0",
                    role="button",
                    data-toggle="popover",
                    data-trigger="focus",
                    title="Sour/Acidic",
                    data-content="Tartness in aroma and flavor. Can be sharp and clean (lactic acid), or vinegar-like (acetic acid)."
                  ) i
                input#descriptor_spicy(
                  type="checkbox",
                  name="descriptor_spicy"
                )
                label.list-group-item.d-flex.justify-content-between.align-items-center(
                  for="descriptor_spicy"
                ) Spicy
                  a.badge.badge-light.badge-pill(
                    tabindex="0",
                    role="button",
                    data-toggle="popover",
                    data-trigger="focus",
                    title="Spicy",
                    data-content="Spice characteristic"
                  ) i
                input#descriptor_sulfur(
                  type="checkbox",
                  name="descriptor_sulfur"
                )
                label.list-group-item.d-flex.justify-content-between.align-items-center(
                  for="descriptor_sulfur"
                ) Sulfur
                  a.badge.badge-light.badge-pill(
                    tabindex="0",
                    role="button",
                    data-toggle="popover",
                    data-trigger="focus",
                    title="Sulfur",
                    data-content="The aroma of rotten eggs or burning matches."
                  ) i
                input#descriptor_vegetal(
                  type="checkbox",
                  name="descriptor_vegetal"
                )
                label.list-group-item.d-flex.justify-content-between.align-items-center(
                  for="descriptor_vegetal"
                ) Vegetal
                  a.badge.badge-light.badge-pill(
                    tabindex="0",
                    role="button",
                    data-toggle="popover",
                    data-trigger="focus",
                    title="Yeasty",
                    data-content="Cooked, canned, or rotten vegetable aroma and flavor (cabbage, onion, celery, asparagus, etc.)"
                  ) i
                input#descriptor_yeasty(
                  type="checkbox",
                  name="descriptor_yeasty"
                )
                label.list-group-item.d-flex.justify-content-between.align-items-center(
                  for="descriptor_yeasty"
                ) Yeasty
                  a.badge.badge-light.badge-pill(
                    tabindex="0",
                    role="button",
                    data-toggle="popover",
                    data-trigger="focus",
                    title="Yeasty",
                    data-content="A bready, sulfury or yeast-like aroma or flavor"
                  ) i
            #summary.tab-pane(role="tabpanel", aria-labelledby="summary-tab")
              .form-group.px-5
                h4 Style Accuracy
                input#overall_class_example.data-slider(
                  style="width:100%",
                  name="overall_class_example",
                  type="text",
                  data-slider-ticks="[0, 10, 50, 100]",
                  data-slider-ticks-snap-bounds="30",
                  data-slider-ticks-labels="['None','Low','Med','High']"
                )
              .form-group.px-5
                h4 Execution
                input#overall_flawless.data-slider(
                  style="width:100%",
                  name="overall_flawless",
                  type="text",
                  data-slider-ticks="[0, 10, 50, 100]",
                  data-slider-ticks-snap-bounds="30",
                  data-slider-ticks-labels="['None','Low','Med','High']"
                )
              .form-group.px-5
                h4 Overall Opinion
                input#overall_wonderful.data-slider(
                  style="width:100%",
                  name="overall_wonderful",
                  type="text",
                  data-slider-ticks="[0, 10, 50, 100]",
                  data-slider-ticks-snap-bounds="30",
                  data-slider-ticks-labels="['None','Low','Med','High']"
                )
              .form-group
                .row
                  .col
                    h4 Feedback
                      textarea#feedback_comment.form-control(
                        rows="5",
                        type="text",
                        name="feedback_comment",
                        placeholder="Comments"
                      )
                  .col.col-md-auto.d-flex.align-items-center.pl-4
                    .card.border-dark(style="width:100px")
                      .card-header.py-1.px-0
                        p.small.mb-0.text-center Summary Score
                      .card-body.text-dark.px-0.py-0.text-center
                        input.overall_score.form-control.section-score.form-control-lg.text-center.mb-0(
                          type="number",
                          name="overall_score",
                          value="0",
                          min="0",
                          max="10"
                        )
                        p.small.d-flex.align-items-end.flex-row-reverse.my-0.pb-0 /10
        .card-footer
          .d-flex.flex-row.justify-content-around
            // Aroma
            .card.border-dark(style="width:100px")
              .card-header.py-1
                p.small.mb-0.text-center Aroma
              .card-body.text-dark.px-0.py-0.text-center
                input.aroma_score.section-score.form-control.form-control-lg.text-center.mb-0(
                  type="number",
                  name="aroma_score",
                  value=0,
                  min=0,
                  max=12
                )
                p.small.d-flex.align-items-end.flex-row-reverse.my-0.pb-0 /12

            // Appearance
            .card.border-dark(style="width:100px")
              .card-header.py-1.px-0
                p.small.mb-0.text-center Appearance
              .card-body.text-dark.px-0.py-0.text-center
                input.appearance_score.section-score.form-control.form-control-lg.text-center.mb-0(
                  type="number",
                  name="appearance_score",
                  value="0",
                  min="0",
                  max="3"
                )
                p.small.d-flex.align-items-end.flex-row-reverse.my-0.pb-0 /3

            // Flavor
            .card.border-dark(style="width:100px")
              .card-header.py-1.px-0
                p.small.mb-0.text-center Flavor
              .card-body.text-dark.px-0.py-0.text-center
                input.flavor_score.section-score.form-control.form-control-lg.text-center.mb-0(
                  type="number",
                  name="flavor_score",
                  value="0",
                  min="0",
                  max="20"
                )
                p.small.d-flex.align-items-end.flex-row-reverse.my-0.pb-0 /20

            // Mouthfeel
            .card.border-dark(style="width:100px")
              .card-header.py-1.px-0
                p.small.mb-0.text-center Mouthfeel
              .card-body.text-dark.px-0.py-0.text-center
                input.mouthfeel_score.section-score.form-control.form-control-lg.text-center.mb-0(
                  type="number",
                  name="mouthfeel_score",
                  value="0",
                  min="0",
                  max="5"
                )
                p.small.d-flex.align-items-end.flex-row-reverse.my-0.pb-0 /5

            // Overall
            .card.border-dark(style="width:100px;")
              .card-header.py-1.px-0
                p.small.mb-0.text-center Summary
              .card-body.text-dark.px-0.py-0.text-center
                input.overall_score.section-score.form-control.form-control-lg.text-center.mb-0(
                  type="number",
                  name="overall_score",
                  value="0",
                  min="0",
                  max="10"
                )
                p.small.d-flex.align-items-end.flex-row-reverse.my-0.pb-0 /10

  script(src="/javascripts/scoresheet.js")
