extends layout

block content
  .container.d-flex.justify-content-center
    form.form-signin(
      role="form",
      action="/unsubscribe",
      method="post",
      style="max-width: 300px;"
    )
      h2.form-signin-heading Unsubscribe from automated emails
      input.form-control(
        type="text",
        name="email",
        placeholder="Email Address"
      )
      .form-check.mb-3
        input#allow_automated_email.form-check-input(
          type="checkbox",
          name="allow_automated_email",
          value="true",
          checked
        )
        label.form-check-label(for="allow_automated_email") Allow email communication
        small.form-text.text-muted.mt-0 For competition updates and information. We will <strong>never</strong> send marketing or advertising emails.
      button.btn.btn-lg.btn-primary.btn-block(type="submit") Unsubscribe
